[2019-09-20 17:33] esbenk commented on #4698
Fixed in the 2019 Wave 2 release and the upcoming CU of the Wave 1 release

[2019-09-20 17:33] #4698 closed

[2019-09-21 10:22] atoader commented on #593
Hi! This will be available in the wave 2 2019 release. Any issue marked with the October milestone will be delivered with this release

[2019-09-21 16:17] CarlosAndreuLlaneras opened #5286 "Get-NavAppRuntimePackage in App with dependecies"
**Describe the bug**
I am using  Get-NavAppRuntimePackage succesfully with apps with no dependencies, but when I try to use it with a app that has dependencies the command throws a compilation error that says that the dependant app could not be loaded and therefore, the resources (tables, codeunits, etc.) from this app are missing.

**Screenshots**
![image](https://user-images.githubusercontent.co

[2019-09-23 06:39] EDGZTNSR opened #5287 "Cannot implicitly convert type 'None' to 'Text'"
**Describe the bug**
I'm trying to call the Method "BLOBExportToServerFile" in the "File Management" Codeunit but I get an Error I can't explain to myself.

When I try to Call the Function with its TempBlob and Text parameter
![image](https://user-images.githubusercontent.com/39260158/65405419-4e6fbc80-dddc-11e9-9296-98214cd9cfe8.png)
I get the following Error Message:
![image](https://user-images

[2019-09-23 07:37] shadow747 commented on #4634
Any idea if this bug will be fixed in Business Central October release ?

[2019-09-23 07:41] shashiBssi commented on #4634
As i can see in the October preview, this is resolved,

[2019-09-23 07:41] #4634 closed

[2019-09-23 08:04] kfuglsang commented on #5078
Was this in fact solved in a CU?

I also hit this issue on an on-prem v14 where we do hybrid development.

[2019-09-23 09:42] JoergBrugman opened #5288 "Empty Values in SymbolReference.json for table fields"
In versions BC 15 Preview , the TableReleation and CalcFormula properties are created with empty values ​​for table fields.
This error occurs in the base app, the system app, and even a self-created app.

We assume that this is an error, because in earlier versions the properties and their values ​​were generated by the compiler.

We urgently need these property values ​​back for analysis and for

[2019-09-23 09:51] jyotivarade opened #5289 "how to show route direction in business central"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps and to reproduce the behavior:
1. Go to '...'

``` AL Code to reproduce the issue ```

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions:**

 - AL Language:

 - Business Central

[2019-09-23 09:51] #5289 closed

[2019-09-23 10:16] #4297 closed

[2019-09-23 12:28] PooyaKharamesh commented on #5288
Hi,

would you please provide us some instances and why would it interrupt your development. A clear repro or code snippet will help us to address the issue faster.

/Pooya

[2019-09-23 12:48] PooyaKharamesh commented on #5287
would you please provide us the version of BC that you are using?

The signature of method has been changed in BC 15 and it is marked for only On-prem usage. here is the new signature
procedure BLOBExportToServerFile(var TempBlob: Codeunit "Temp Blob"; FilePath: Text)

and a sample usage

                var
                    fileManagment :Codeunit "File Management";
                    tempBlo

[2019-09-23 14:51] demiliani commented on #5262
I confirm this. I'm not able to start a task with "preLaunchTask" in launch.json with AL too. Works on other languages.

[2019-09-24 06:18] larswestman commented on #4612
I can't remember having seen these errors lately.

[2019-09-24 09:04] giann85 opened #5290 "[Eventrequest] codeunit 12173"
Hi AL team,
please add new publisher event on Codeunit 12173 into trigger  OnRun, like this:

![image](https://user-images.githubusercontent.com/43236847/65497755-05db0080-debb-11e9-876e-ec8a5bd36c6d.png)

All parameters should be passed by var.

This is necessary to manage a particular withholding system in Italy, which has a percentage and amount of 0.

if is possible   change   the  functionvis

[2019-09-24 11:54] hhout opened #5291 "Set permissions in code for page and table extensions"
For a Table or Page it's possible to set the Permissions property via code if applicable.
_Example: Permissions = tabledata _TableName_ = RD;_

The Permissions property should also be available for page- and table **extensions**. For example specific validation code in this case shouldn't be placed in codeunits to make it possible to give permissions via code.

- AL Extension Version: 3.0.118998
-

[2019-09-24 13:17] AlNoes commented on #4434
Will there be a way in the future to get our new custom API pages in MS Flow & PowerApps connectors? Currently, I can only see the standard pages...

[2019-09-24 13:24] fvet commented on #1493
@SteveKrisjanovsD365 Did you found any workaround in launching other processes from within the webclient?

@atoader Regarding point 7, any change on having this re-enabled in a later update? We have the exact same need. Our 'Planning Tool' is - currently still - an external .NET based solution - installed locally. Users have a shortcut (via a codeunit menu item) via the RTC client. Looking for alt

[2019-09-24 13:50] EDGZTNSR commented on #5287
Hi @PooyaKharamesh
Were using Application Build 32990, Platform Build 32943.

[2019-09-24 13:53] EDGZTNSR commented on #5287
I've only met the problem in one Extension. Another Extension that uses the same symbol files does not have this problem.
![image](https://user-images.githubusercontent.com/39260158/65517669-6847f700-dee3-11e9-833b-506d53163e61.png)

Here it works without a problem

[2019-09-24 15:33] adrian-panaite commented on #5287
The function BLOBExportToServerFile has NO return type, but you are trying to retrieve the return value.
You have to change
**TxtPath_l := FileManagement_l.BLOBExportToServerFile(TempBlob_l, LocalTemp_l);**
to
**FileManagement_l.BLOBExportToServerFile(TempBlob_l, LocalTemp_l);**
and it will work. I don't know what you need to do with the **TxtPath_l** variable, but you need to find another way to

[2019-09-24 21:03] MatthewMcCarthy7 opened #5292 "Index (zero based) must be greater than or equal to zero and less than the size of the argument list."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps and to reproduce the behavior:
1. Go to '...'

``` AL Code to reproduce the issue ```

**Expected behavior**
I copied in my files from Txt2al and none of the issues show up under problems.  I should have a couple hundred.  Then If I hit F5 I get the error below.

**Screenshots**
[Error - 1:58:47 PM] Pl

[2019-09-25 07:41] henrikwh commented on #4434
Hi @AlNoes
Its on the backlog, but not in scope, to have Custom APIs show in the connector. Currently you would need to create a custom connector to expose your custom APIs to Power suite.

[2019-09-25 09:46] qutreson commented on #5287
Closing this issue as the compiler diagnostic reported is valid. Following the guidance from @adrian-panaite and @PooyaKharamesh will fix your issue.

[2019-09-25 09:46] #5287 closed

[2019-09-25 10:05] atoader commented on #4105
@MiePlougstrup the initial issue will be fixed in the 2019 Wave 2 release of Business Central. You post your suggestion for translating permission sets to https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. Implementing this requires a cross-team effort and posting it on BC Ideas increases the likelihood that it will gain the priority that it needs to be implemented.

[2019-09-25 10:07] atoader commented on #4618
Hi @giann85 ! We are considering this enhancement for the Wave 1 2020 release. We will update this thread with the progress on it.

[2019-09-25 11:40] #4615 closed

[2019-09-25 15:20] buyerstown opened #5293 "IF NOT HideDialog THEN missing from codeunit 5982 (Service-Post+Print)"
- AL Extension Version: 3.0.168874

Codeunit 5981 (Service-Post (Yes/No) contains the following code:

OnBeforeConfirmServPost(PassedServiceHeader,HideDialog,Ship,Consume,Invoice,IsHandled,PreviewMode,PassedServLine);
IF IsHandled THEN
  EXIT;

WITH PassedServiceHeader DO BEGIN
  **IF NOT HideDialog THEN**
    CASE "Document Type" OF

but in Codeunit 5982 (Service-Post+Print) the equivalent code i

[2019-09-25 15:33] Walwode commented on #5273
yes, if i remove the property, it compiled (and worked). Correct, i was using the latest VSIX, but i'm still developing an 14.x app (because of OnPremise projects). Therefore i have runtime "3.2" in my app settings.

[2019-09-26 12:33] kavila02 opened #5294 "Processing of message 'al/gotodefinition' failed with error: 'SyntaxTree"
Processing of message 'al/gotodefinition' failed with error: 'SyntaxTree 'page 49 "Purchase Quote"
{
  layout
  {
    area(Content)
    {
      group(General)
      {
        field("No.";"No.")
        {
        }
        field("Buy-from Vendor No.";"Buy-from Vendor No.")
        {
        }
        field("Buy-from Vendor Name";"Buy-from Vendor Name")
        {
        }
        group("Buy-from")

[2019-09-26 12:55] salgiza commented on #5276
I was going to open a new ticket, but I think it is actually related to this one: we are also getting this error with keys that only include extension fields and for which *there is* a key in the table extension.

[2019-09-26 14:11] spapke commented on #5254
@thpeder Is there a workaround until this ships? What update will this be fixed in? What was the issue that caused this?

[2019-09-26 15:01] 48010 opened #5295 "Insert record after Event subscription"
Hello to all,
I am subscribing to the OnAfterGetDocumentEntries event of the Codeunit 5530 Calc. Item Availability to create a function that inserts records in the 5530 Inventory Event Buffer table, just like the standard TryGetPurchOrderSupplyEntries function.

What happens is that if I make an Insert on the table I get the following error when leaving the subscribed event: "Entity source type no

[2019-09-26 15:13] thpeder commented on #5254
To answer your questions in order.
1) No there is no workaround. You simply can't sign runtime packages and publish a signed runtime package. The only option is to not sign them.
2) 14.6, I don't know when that will be released.
3) We changed runtime packages so you can't just open them with an archiving program, in doing that we broke the format the signing library worked with, so we needed to fi

[2019-09-26 15:27] jwikman commented on #5276
This is also on Yammer here: https://www.yammer.com/dynamicsnavdev/threads/343040592707584

I'm adding my comments here for visiblity:

Right now it:
1. complains about BaseApp tables and fields that we cannot do anything about
1. complains about Virtual System tables that we definitely cannot modify (like the Date table)
1. has above issues
1. throws errors in app.json:

[code]
I understand why t

[2019-09-26 15:33] jwikman commented on #4281
Any progress on this @kalberes?
We're having our pipeline yaml files in a root folder in our workspace, giving us this issue.

Just to get rid of the error I've added an app.json to our Pipelines root folder:
[code]

I haven't seen any undesired side effect of that yet...

[2019-09-26 18:53] g-franck commented on #5292
Hi,

I met the same error
I follow freddy's blog to publish a new base application
cf: https://community.dynamics.com/business/b/freddysblog/posts/publishing-a-new-base-application
Everything worked well until this error:

Extension compilation failed
OfficeAddinInitiateTasks.Codeunit.al(408,47): error AL0132: 'TestPage Posted Sales Credit Memos' does not contain a definition for '&Print'
at <Scri

[2019-09-26 19:01] #5192 closed

[2019-09-26 19:04] spapke commented on #5254
Thank you for the clarification!

[2019-09-27 06:22] larswestman opened #5296 "New field in primary key does not update index"
I added a new field in a table as the first field in the key, published the app from VS Code with "schemaUpdateMode": "Synchronize". No errors about key change (great!), but when exploring the unique index in SQL the new field is not added to the index and trying to use it in BC generates a duplicate error.

It's really great news that we can add fields to existing keys, so I hope we can get this

[2019-09-27 07:50] frobiii opened #5297 "Al: Package not possible with Depency on Base Application"
Hi Guys,

**Describe the bug**

I have problem with Al:Package i a multi dependency Test-app

My App: Test App for an App working in the Warehouse Area of BC.
Dependency on three own and three Microsoft apps:
-	Base Application
-	Tests-TestLibraries
-	System Application

When i download the symbols everthing is fine. When i try to Build the Package the following error is thrown. Other Errors or wa

[2019-09-27 10:33] jbakach opened #5298 "Cannot add documentation comments into created Functions"
**Describe the bug**
I can't find a way to add a description comment of what it does a created function in VS Code

Do we have a way to add comment describing a function for our own created functions?

Like in NodeJS, there is a way to do that, and I saw that for primmitive functions you include a description like this:

![image](https://user-images.githubusercontent.com/3531482/65763136-fcec6800-

[2019-09-27 10:56] qutreson commented on #5298
Hi @jbakach, this is not currently possible, but we have it on our backlog. We also have an issue already tracking it on Github #132.

[2019-09-27 10:56] #5298 closed

[2019-09-27 10:59] qutreson commented on #5294
@kavila02, please re-open an issue following the required template. Without more information about what you were doing (repro steps) and without the versions of the AL extension and Business Central that you are using, it is almost impossible for us to investigate your issue.

[2019-09-27 10:59] #5294 closed

[2019-09-27 11:28] salgiza opened #5299 "HttpClient.AddCertificate seems to be broken in BC15"
We have an app, published in the App Source, that connects to the Spanish tax agency using a digital certificate. While testing the app against a BC15, we've found that now, when adding the certificate to the HttpRequest, Business Central returns this error (and exits):

    The requested operation cannot be performed in this context.

This seems quite problematic, because the error only happens i

[2019-09-27 11:51] hhout opened #5300 "Cue Setup table suffix issue"
When selecting a Cue in the Que Setup there’s a filter on the Table name, it’s only possible to select tables with a name ending with *Cue.
Because all our objects end with our ISV specific suffix we cannot select our Cues in this Setup.

I’ve found a GitHub request on this subject, the proposed solution for this scenario is to remove the suffix and use a prefix instead for Cue Table names.
See al

[2019-09-27 12:08] navaddict opened #5301 "Microsoft.Dynamics.Nav.NavUserAccount.NavUserAccountHelper"
I use the DotNet command shown in the subject line in a few places in my Solution and I can't see anything related to it on here so I need a non-DotNet alternative in AL please...

[2019-09-27 13:52] atoader commented on #5296
@larswestman could you please provide a sample with your code before and after the the change? For future issues, please follow the template. It helps us greatly in identifying the root cause with greater efficiency.

[2019-09-27 13:52] JohanStenberg100 commented on #5301
Hi @navaddict! This question is not related to the development environment and compiler of AL. I will redirect your issue to the proper repository. Thanks

[2019-09-27 13:59] larswestman commented on #5296
The added field is marked with red

![image](https://user-images.githubusercontent.com/43792551/65774733-25825b00-e13f-11e9-8c03-87ce8ac516d3.png)

As you can see from the previous screenshot from SSMS the new field isn't present in the clsutered index.
[DefaultPropertyValue.Tab12057544.zip](https://github.com/microsoft/AL/files/3663034/DefaultPropertyValue.Tab12057544.zip)

The file in it's modif

[2019-09-27 14:00] JohanStenberg100 commented on #5300
Hi @hhout! This is not an issue with our compiler or dev environment, but a design change suggestion. Let me transfer you to the appropriate repository. Thanks!

[2019-09-27 15:10] kalberes commented on #4281
Not yet, but now that I have accepted it as in progress I will get the bug. If it is not something that would require major redesign of our vscode integration i should fix it for 15.1.

[2019-09-27 15:12] jwikman commented on #4281
Great, thanks for the update @kalberes!

[2019-09-27 15:27] naveksa opened #5302 "Codeunit 99000755 CalendarManagement missing"
**Describe the bug**

In our Apps we are using functions from base codeunit 99000755 CalendarManagement.
Apparently this codeunit no longer exists in Fall 2019 Release.
We assume, that the functions have been moved to some other codeunit
(not 7600 Calendar Management, as we first thought).
Can anyone point at where to find the functions.

Error:
Codeunit 'CalendarManagement' is missing AL(AL0185)

[2019-09-27 15:30] g-franck commented on #5292
Hi,

I found my mistake.
We have a event subscriber in our solution on this renamed action
So, I had to update this subscriber too as expected

page 144:
action(PrintAction) --> action("&Print")

codeunit x:
[EventSubscriber(ObjectType::Page, 144, 'OnBeforeActionEvent', 'PrintAction', true, true)]
-->
[EventSubscriber(ObjectType::Page, 144, 'OnBeforeActionEvent', '&Print', true, true)]

But it wou

[2019-09-27 23:48] tjaitly1986 opened #5303 "Rows getting duplicated when using External Sql as table type in Business Central"
I have used the External Table concept in table type while defining the new table in Business Central because I want to import the data from SQL Table and post it in Business Central. Connectivity is working fine, I can see the SQL table data in Business Central through the page but when I click on any row on the page to edit the record, it will duplicate the rows on the page.

However, when you r

[2019-09-28 15:22] ftornero9 commented on #5299
Hello @salgiza ,

Clear the HttpCli variable before adding the certificate,like this:

[code]

Regards

[2019-09-28 20:44] larswestman commented on #5302
This is one of many breaking changes in BC15. Search for "Calendar" in this document: https://github.com/microsoft/ALAppExtensions/blob/master/BREAKINGCHANGES.md

[2019-09-28 22:50] brucecotter opened #5304 "Error: Could not connect to the server. Please verify that: 1. The server is started. 2. The development endpoint is enabled (DeveloperServicesEnabled server setting). 3. The service name matches the one specified in the URL. 4. The port number matches the one specified in the URL (DeveloperServicesPort server setting). 5. The protocol matches the one specified in the URL (DeveloperServicesSSLEnabled server setting), and that a trusted certificate is used in case of an SSL connection."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps and to reproduce the behavior:
1. Go to '...'

``` AL Code to reproduce the issue ```

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**5. Versions:**

 - AL Language:

 - Business Cent

[2019-09-29 04:06] MatthewMcCarthy7 opened #5305 "Table No. and Protection Level AL0161"
**Describe the bug**
I'm having an issue with AL0161 'Table Name' is inaccessible due to its protection level.  I'm doing some stuff with RecordRef and I don't actually want to access the table, I just want to do something different if it is that table, since I can't access it.  So when I do DATABASE::"User Login", just so I know the table Number I get an error.  I feel like you should still be ab

[2019-09-30 07:25] salgiza commented on #5299
Thanks a lot @ftornero9 , clearing the variable before calling the method solved the problem!

That being said, and for whoever at Microsoft reads this ticket: the fact that there is a workaround does not mean that this is not a bug. It breaks BC14 code (at run time), and clearing a newly created variable, with its default values, to its default values, makes no sense whatsoever... 🤦‍♂

[2019-09-30 08:17] naveksa commented on #5302
Thanks.
Found it.

[2019-09-30 08:17] #5302 closed

[2019-09-30 08:33] naveksa opened #5306 "Filtering on Option Field in List page not working"
**Describe the bug**
In one of our Apps we have a normal page-setup with a header and lines in a list-type subpage.
In the lines we have a field of type Option. No special code behind it.
When we try to filter on an Option-value, nothing happens. All lines are still shown.
In base application Sales ordre we have the field Type (which also is an Option field) on the lines, and here the filtering is

[2019-09-30 08:36] naveksa commented on #5306
AL Language:
4.0.172584

Business Central:
15

Same behavior in previous versions.

[2019-09-30 08:56] naveksa commented on #5306
Well,
Found some special code on Definition of page "Sales Order Subform"
apparently relating to Option filtering.
Will try looking closer to this and try working on a similar solution.

[2019-09-30 08:56] #5306 closed

[2019-09-30 09:12] RafaelKoch commented on #5224
On this one I had a lengthy support call on 14.x and no true fix delivered a while ago.

You can add to the triggers for this unpleasant behaviour:

- Change to a different file of a different extension in the same VS Code Workspace -> still shows all sorts of analyzer results related to the last thing You worked on and will therefore not work properly for the thing You are working on now.

There

[2019-09-30 09:16] ppvandermark commented on #4999
Hello @JohanStenberg100,

I finally had some time to check out what is happening.
First of all i will let you know i am working on the daily build so version 15.
![image](https://user-images.githubusercontent.com/50981177/65864180-b9d40400-e371-11e9-96e1-ddcacf6d431b.png)

But try to run this code and it looks like the compiler is not handling the Biginteger correctly.
The code is basically the sa

[2019-09-30 10:06] ppvandermark opened #5307 "Evaluate Bigger then Integer size gives Error"
**Describe the bug**
Evaluate(decValue, '999999999999999.99‬') doesn't work. and the documentation tells me that this should be the max value allowed.
![image](https://user-images.githubusercontent.com/50981177/65868736-256d9f80-e379-11e9-91b5-482852a20e0b.png)

**To Reproduce**
`

    [Test]
    procedure TestOn_TextMaxDecimal_ConversionFunctions();
    var
        decText: Text;
        decValue

[2019-09-30 10:29] alapenas commented on #5192
Version 15.0.36560.0-w1 from bcsandbox-master has the same issue "illegal character in Path"

[2019-09-30 10:36] MatDDev opened #5308 "Can't download system symbols - BC Spring Release"
**Describe the bug**
Cannot download the system symbols for Business Central Spring Release CU1. Database has been upgraded from NAV 2018 to BC

**Screenshots**
I did regenerate the symbols following:
https://docs.microsoft.com/pl-pl/dynamics365/business-central/dev-itpro/developer/devenv-running-cside-and-al-side-by-side

I did get navcommandresult with the success.
When trying to download the sy

[2019-09-30 10:59] alapenas opened #5309 "txt2al: illegal character in Path"
After creating DELTA files with Compare-NAVApplicationObject, I got several error messages while using txt2al.exe:

`----ERROR----
Error converting file: c:\run\my\delta\PAG1.DELTA
Illegal characters in path.`

Version: 15.0.36560.0-w1 from bcsandbox-master

There is an closed issue about this, but it wasn't solved: #5192

[2019-09-30 11:47] larswestman commented on #4612
I must correct myself... This bug is still around.

[2019-09-30 13:43] JohanStenberg100 commented on #4999
Hi @ppvandermark, thanks for these good repro-steps. I will take a closer look when I have the capacity.

[2019-09-30 16:17] RobbieRoss opened #5310 "Linked Objects in AL"
**Describe the bug**
When creating/running a table in an AL extension with the LinkedObject property set to true no records are being displayed.  The view runs correctly from SQL.  If the linked table is created in C/AL the records are displayed.  I believe this is because a physical table is being created when the new table is published from AL.

**To Reproduce**
Steps and to reproduce the behavi

[2019-10-01 08:19] giann85 opened #5311 "AppSource: AppTest with input external file/data"
Hi, I developed an app for AppSource. In the test app would go to test file import and export features. I have not found any way to insert in the test app, the external files that are used to simulate the functionality of the app itself.
Let me explain: I need to import a text file with some data, which must be read and written in tables. In the test app how can I simulate this feature?

Thanks

[2019-10-01 08:39] giann85 commented on #4618
Great news. Await updates. thanks

[2019-10-01 08:50] giann85 commented on #5161
Hi, i've solved :
i've changed the  column name  "Base" of dataitem "VAT Book Entry"   to  "BaseCust"
as is:    column(Base; -Base)
to be:  column(BaseCust; -Base)

and all his reference in the  rdl  file.

I don't know why there is this problem ... maybe there is a duplication of variable names...

regards

[2019-10-01 14:25] RafaelKoch commented on #5297
Any Status on this? By now Wave 2 has shipped and we cannot move our development over to Wave 2 because of this.

[2019-10-01 14:57] qutreson commented on #5297
We have a fix for it in our master branch and it should also be part of the first CU.

[2019-10-01 14:59] RafaelKoch commented on #5297
do You happen to know if that already made it to a preview container?

[2019-10-02 00:00] CBlasek opened #5312 "Unable to download symbols for AL Wave 2"
[2019-10-01 17:55:26.49] Authenticating...
[2019-10-01 17:55:26.96] Authenticated.
[Error - 5:55:26 PM] Please report this issue to https://github.com/microsoft/al/issues including information on how to reproduce it, if possible.
Processing of message 'al/downloadSymbols' failed with error: 'Object reference not set to an instance of an object.'
Details:
System.NullReferenceException: Object refer

[2019-10-02 00:48] #5312 closed

[2019-10-02 04:04] JuricaB commented on #4589
Per comment on DEV yammer cleanup of obsolete fields will be implemented next year:
"we haven't yet implemented the actual removal of the obsoleted fields on the schema level, so upgrading from an app with obsolete fields to an app without them will show an error saying that you cannot delete fields in extensions. We are considering adding the option to clean up the obsolete fields with the next r

[2019-10-02 04:04] #4589 closed

[2019-10-02 04:05] JuricaB commented on #4587
This is still an issue with AL extension 4.0.182565.

[2019-10-02 04:25] JuricaB opened #5313 "[BUG] AL 4.0 Opening project with app.json as active file causes error Rule210SuboptimalIndex"
**Describe the bug**
When opening a project I previously closed while app.json was open, AL language causes error as below. It also happens if app.json was among last active files, but not currently active.

**To Reproduce**
Steps and to reproduce the behavior:
1. Create project using AL language 4.0 (tested on 4.0.176004 and 4.0.182565)
2. Add code that would raise informational message AA0210 (t

[2019-10-02 04:35] JuricaB commented on #5114
HI @atoader,

This is still an issue with Wave 2 - replicated on 4.0.182565.

Furthermore, the error is somewhat worse than I thought, as it also allows you to use functions marked as OnPrem in bc sandbox docker.
See below, screenshots taken on new 15.0 docker:
![image](https://user-images.githubusercontent.com/24306390/66018267-dcfddf80-e53a-11e9-9864-b45618a6b227.png)
![image](https://user-image

[2019-10-02 05:49] JohanStenberg100 commented on #4999
Hi @ppvandermark, you have the same issue in your example as before, there's a hidden unicode character in the first test procedure.

![image](https://user-images.githubusercontent.com/43748198/66020906-08f07500-e4e9-11e9-8ca7-fa9b36d63f88.png)

After the last character '4', there's another character. This can't be parsed and that's why the conversion fails. If I remove this character, both tests

[2019-10-02 05:49] #4999 closed

[2019-10-02 06:23] JohanStenberg100 commented on #4566
Hi @Hornsyld! As you might have guessed, the AL HttpClient is a thin wrapper around the .NET HttpClient, which divides headers into two groups - content headers and request headers. Here is a list of request headers: https://docs.microsoft.com/en-us/dotnet/api/system.net.http.headers.httprequestheaders?view=netframework-4.8 and here is a list of content headers: https://docs.microsoft.com/en-us/do

[2019-10-02 06:23] #4566 closed

[2019-10-02 06:30] MatDDev commented on #5253
Hi @ashishsharmanav

I have exactly the same problem #5308

I am using the newest version of VS 1.31.1 and the problem remains. DId you do anything besides that? When i use Get-NAVAppInfo I don't see any symbols. Did you have the same?

[2019-10-02 06:36] JohanStenberg100 commented on #4312
Hi @babak2000ir, sorry for the long wait. On our master branch your issue doesn't reproduce. I will close this issue now, please comment if your still running into this on the latest version of BC. Thanks!

[2019-10-02 06:36] #4312 closed

[2019-10-02 08:57] lakmalrhm opened #5314 "Using OCX Datatype in A/L"
**Describe the bug**
In NAV C/AL side there is a data type OCX. when i convert object in to AL there is no data type OCX. I need to use the Microsoft Communications Control, version 6.0. This is regrading getting the data from weighbridge. is there any solution or workaround?

**To Reproduce**

**Expected behavior**

**Screenshots**
![OCX](https://user-images.githubusercontent.com/6760775/66031221

[2019-10-02 09:13] BartPermentier commented on #5313
Jup, very annoying

[2019-10-02 09:16] qutreson commented on #5297
I'm not sure whether the fix made it until the container yet, but it should get there in the next days.

The fix should be available for AL extensions with a version higher than 4.0.181862.

The current AL code extension from the marketplace should then contain the fix for this issue (version is 4.0.182565). Can you try it out and tell me if you are now able to compile your extension without facin

[2019-10-02 09:19] rdebath commented on #5309
It seems to be related to the (default) `{name}` and `{targetName}` plugins.
It seems to be impossible to turn off the `--rename` flag so the best I can do to workaround is to use `{type}-{id}` as the filename patterns.
As far as I can tell there is no match with the actual name of the file, it just breaks with some files.

[2019-10-02 09:19] qutreson commented on #5309
@alapenas, as version 15.0 does not contain C/SIDE anymore and thus txt files cannot be exported with this version, we are now advising to use the txt2al from the 14.x previews. This is also where we will focus in future for txt2al bug fixes. We will add this to our online documentation.

[2019-10-02 09:25] qutreson commented on #5192
Note that the fix was done for the 14.x version. As this is the last version that contains C/SIDE (in order to export the txt file), this is also where our focus will be when fixing bugs or improving the txt2al.

[2019-10-02 09:27] qutreson commented on #5313
Hi @JuricaB and @BartPermentier, thank you for reporting this issue. Can you copy-paste here the stack trace that you are getting when using the analyzer?

The screenshot above is cropped and doesn't show us exactly what the InvalidCastException is and where it happens.

[2019-10-02 09:31] qutreson commented on #5314
Hi @lakmalrhm, I think what you are looking for is .Net Interoperability in AL, you can read more about it here: [Getting started with Microsoft .NET Interoperability from AL](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-get-started-call-dotnet-from-al).

Did you get this by using the [txt2al conversion tool](https://docs.microsoft.com/en-us/dynamics365/

[2019-10-02 09:36] qutreson commented on #5308
@MatDDev, did you run [Get-NavAppInfo](https://docs.microsoft.com/en-us/powershell/module/microsoft.dynamics.nav.apps.management/get-navappinfo?view=businesscentral-ps-15) with `-SymbolsOnly`? This switch needs to be specified to verify if the application and system symbol packages are published on your NST.

Can it be that they have a version whose major is lower than 14 while your app.json reque

[2019-10-02 09:36] BartPermentier commented on #5313
Analyzer 'Microsoft.Dynamics.Nav.CodeCop.Design.Rule210SuboptimalIndex' threw an exception of type 'System.InvalidCastException' with message 'System.InvalidCastException: Unable to cast object of type 'Microsoft.Dynamics.Nav.CodeAnalysis.Symbols.SourceParameterSymbol' to type 'Microsoft.Dynamics.Nav.CodeAnalysis.IVariableSymbol'.
   at Microsoft.Dynamics.Nav.CodeCop.Design.Rule210SuboptimalIndex.

[2019-10-02 09:39] rdebath opened #5315 "Publish fails silently"
**Describe the bug**
None of the functions that publish the extension complete. They do the compile and stop.
The created extension can be successfully published using the powershell scripts.

**To Reproduce**
Press F5 on a project that was working fine with the previous (v3.x.x) AL extension

``` AL Code to reproduce the issue ```
All projects when publishing with 4.0.182565 AL extension

**Expec

[2019-10-02 09:39] qutreson commented on #5304
Hi @brucecotter, can you specify which version of the extension you are using, which version of BC you are targeting, but also whether you are in Cloud or OnPrem setup?

[2019-10-02 10:18] RafaelKoch commented on #5297
Will try later if we can compile now in VS Code. Anyway, yesterday evening no container image we tried had the fix, so no pipeline would accept the code.
So I basically moved two test extensions out of the folder that gets built and that should unblock us for a couple of days.

[2019-10-02 10:30] MatDDev commented on #5308
@qutreson
Yes, with -SymbolsOnly and there was nothing. I am trying to solve this issue step by step and observations are as follows:
- On clean installation symbols are still there
- When I uninstall the standard extensions (needed for LS objects), the symbols are still there
- However when the LS objects are being imported, the symbols are gone (I need to investigate this one)

[2019-10-02 10:52] rdebath commented on #5309
Right, that means I have to ignore your name creation by trying to turn off `--rename` and fix the problem in a script after or roll back to a working version. As this bugfix is no longer available in a prompt manner.

Or do you have a hidden `-master` variant of a V14 docker available?

As for "previews" there are no V14 previews in "collaborate/packages" and the "Wave 2" previews (more sensibly

[2019-10-02 11:17] stijn9830 opened #5316 "'al/createPackage' failed with error: 'Index (zero based) must be greater than or equal to zero and less than the size of the argument list.'"
**Describe the bug**
When compiling an Al project, I get an unclear error when adding a codeunit :

'al/createPackage' failed with error: 'Index (zero based) must be greater than or equal to zero and less than the size of the argument list.'

Please report this issue to https://github.com/microsoft/al/issues including information on how to reproduce it, if possible

When deleting the codeunit, I c

[2019-10-02 13:23] qutreson commented on #5316
@stijn9830, thank you for reporting this issue. This looks like similar to #5292

[2019-10-02 13:32] stijn9830 commented on #5316
Hi @qutreson  Thanks for your quick reply
this has indeed solved my problem
eventsubscriber onafteraction to not existing action on the page gives this error.
Where it used to trow an specific error, it gives this error above

[2019-10-02 13:32] #5316 closed

[2019-10-02 13:35] r4luk commented on #4977
Hello,
We are encoutering the same problem in BC CU8.
e.g.: in Report 7318 Whse.-Shipment - Create Pick the WhseActivHeader.Type is not translated.
It should be "Culegere", but the ENU version is shown "Pick".
MESSAGE(STRSUBSTNO(SingleActivCreatedMsg,FORMAT(WhseActivHeader.Type),FirstActivityNo,CannotBeHandledReason)
![image](https://user-images.githubusercontent.com/21063415/66048455-3ca3bd00-e53

[2019-10-02 15:06] qutreson commented on #5308
Are you importing the objects as C/AL through C/SIDE or importing everything directly as a bacpac?

In the first case, you should publish the system symbols provided by Microsoft and then generate the application symbols for it from C/SIDE see [Running C/SIDE and AL Side-by-Side](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-running-cside-and-al-side-by-s

[2019-10-02 15:38] kalberes commented on #5295
This is an application related question.
This repository no longer handles general questions and is only dedicated to bug reports and feature suggestions for the latest preview version of the AL compiler and developer tools.
Maybe try here:
https://github.com/Microsoft/ALAppExtensions

[2019-10-02 15:38] #5295 closed

[2019-10-02 15:40] kalberes commented on #5291
Great idea! Go ahead and post this to our Ideas forum at https://aka.ms/BusinessCentralideas
We're constantly monitoring top Ideas and will consider them for a future release.

[2019-10-02 15:40] #5291 closed

[2019-10-02 15:50] kalberes commented on #5288
I am sorry, but this cannot be treated as an error. The internals of the symbolreference file is really internal. They will change. The previous symbol generation for the Baseapp was C/SIDE based, teh current one on teh AL compiled base app. Different code, different architecture.

We can do what we can but this is also work for us.

[2019-10-02 16:13] kalberes commented on #5293
This repository is no longer dedicated to handling application requests and enhancements.
Instead please use the following repository: https://github.com/Microsoft/ALAppExtensions

[2019-10-02 16:13] #5293 closed

[2019-10-02 16:19] kalberes commented on #4612
Is it around like in the newly released 4.0 version?

[2019-10-02 17:42] atoader commented on #5315
@rdebath we have multiple users successfully using this release. Can you add a GIF of how this fails? Are you using the keyboard shortcut or the command from the command drop down?

[2019-10-02 17:51] atoader commented on #5314
@lakmalrhm that seems to be Automation interop which has been deprecated for multiple years. You need to rewrite the code. If you are planning to distribute your extension in our SaaS product, you should rely on AL builtin functions or external services. If you are only planning to distribute your extension OnPrem, you can use .NET interop.

[2019-10-02 17:51] #5314 closed

[2019-10-02 17:52] atoader commented on #5313
@BartPermentier can you please provide a snippet of code that reproduces the issue?

[2019-10-02 18:01] atoader commented on #5311
Hi, @giann85 this is a problem that is highly tied to the architecture of your application and we cannot really advise you on this here. My advice is to post this question on one of the following forums:
[Business Central Community](https://community.dynamics.com/business/f/758)
[mibuso forum](https://forum.mibuso.com/categories/nav-three-tier)
[Dynamics User Group](https://dynamicsuser.net/nav/f/

[2019-10-02 18:02] #5311 closed

[2019-10-02 18:10] atoader commented on #5310
Hi @RobbieRoss ! Does this reproduce on the Wave 2 2019 release?

[2019-10-02 18:24] atoader commented on #5305
@MatthewMcCarthy7 can you give us examples of a few other tables that exhibit this issue? I cannot reproduce the issue with the following snippet:
[code]

[2019-10-02 18:26] atoader commented on #5304
@brucecotter please follow the template we have provided, it helps us help you :)

[2019-10-02 18:28] atoader commented on #5292
@MatthewMcCarthy7 can you please provide sample code and instructions so that we can help reproduce the issue?

[2019-10-02 18:33] #5008 closed

[2019-10-02 18:33] #4105 closed

[2019-10-02 18:39] atoader commented on #5278
I am glad this is stable. I am not sure how memory is reported in Docker, but it is something outside our control. I will close the issue as it seems the main problem has been resolved. Thank you for reporting this issue!

[2019-10-02 18:39] #5278 closed

[2019-10-02 18:42] atoader commented on #5274
I could repro the issue by using:
[code]
and trying to use it within the context of action Enabled.

[2019-10-02 18:48] atoader commented on #5243
Thank you for the feedback @SteveyN! Unfortunately, we cannot help with resolving this issue. As noted in our FAQ https://github.com/Microsoft/AL/wiki/Frequently-Asked-Questions#i-found-an-issue-not-related-to-al-development-what-do-i-do , this repository is not the best place to report this type of issues.

We suggest that you open a support case or file a bug in Collaborate, to ensure that all B

[2019-10-02 18:48] #5243 closed

[2019-10-02 18:52] atoader commented on #5246
Unfortunately, there is no way to get them at the moment. Long term, we want to move away from using IDs. You might be able to use AllObjWithCaption, AllObj or Nav App Object Metadata to get some of this information, but reflecting on the app.json is currently not supported.

[2019-10-02 18:54] atoader commented on #5286
@CarlosAndreuLlaneras can you reproduce this issue on the latest build from the Wave 2 2019 release?

[2019-10-02 20:19] JuricaB commented on #5313
Hi @atoader,

Please see below for the snippet I can use to replicate this:

`
codeunit 50100 "TestError"
{
    procedure Test210(var GLEntry: Record "G/L Entry");
    var
        GLReg: Record "G/L Register";
    begin
        GLEntry.FindFirst();
        GLReg.SetRange("From Entry No.", 0, GLEntry."Entry No.");
        if GLReg.IsEmpty() then;
    end;

}
`
In addition, the project needs to have

[2019-10-02 20:20] JuricaB commented on #5313
As a side note, I can't see how to copy full stack trace of error from VS Code Problems pane - is there a trick to it?

[2019-10-02 20:28] atoader commented on #5313
That might be a limitation of VS Code, but you should be able to find the exception in the EditorServices.log file in the .vscode/extensions/microsoft.al-*/bin

[2019-10-02 20:38] JuricaB commented on #5313
Sorry @atoader - I looked under .vscode\extensions\ms-dynamics-smb.al-4.0.182565\bin\EditorServices.log and there is nothing of importance logged in that file.

[2019-10-02 20:49] freddydk commented on #5309
v15 is available publicly since yesterday - mcr.microsoft.com/businesscentral/onprem - and also as DVD's on partnersource.
for txt2al, there is a parameter called runtxt2alincontainer, which can use txt2al in another container for handling 14.x stuff - described here: https://freddysblog.com/2019/08/02/organizing-your-al-files/
Until yesterday, we created daily builds from the 14.x branch (bcinsid

[2019-10-02 20:52] rdebath commented on #5315
I've attached the requested image below. As I said it doesn't matter how I start it. All the F5 combinations, the F6 one and the "palette list" none of them get past the build stage. Ctrl-Shift-F5 doesn't have a build so it just clears the output window. I guess you mean that somebody at your end has tried to make a dumber error message but failed missing out the "it's broken" message completely.

[2019-10-03 02:50] JuricaB commented on #5282
I have the same issue on using full release of 15.0 (Platform 15.0.36510.0 + Application 15.0.36560.0) with AL Language 4.0.182565

[2019-10-03 03:50] lakmalrhm commented on #5314
@qutreson Yes , from txt2al tool. Is it possible to use DotNet variable in NAV 2018 extension?

[2019-10-03 03:54] lakmalrhm commented on #5314
@atoader , sorry i forgot to mention the Version. i am trying to create application in AL 0.13.91787 for NAV 2018. target = Internal. Using DotNot for NAV 2018 is possible? or should i do C/AL ,AL side by side?

[2019-10-03 04:42] TakayukiIso opened #5317 "Debugger doesn't work well"
**Describe the bug**
From October 2, when I try to debug my extention at SaaS sandbox enviromet, process stops at break-point but although  I pushed Cotinue/SteoOver/StepInto/Stepout in VSCode, on the BC screen "processing" is displayed and processing does not proceed.

**To Reproduce**
Steps and to reproduce the behavior:
1. set a break-point on my entention code
2. cmd "AL: Publish and debug" at

[2019-10-03 06:22] mfalk118 opened #5318 "AL Compiler 4.0.176004 cannot handle option field in Flowfield when the optionstring is 0,1,2,.."
**Describe the bug**
Option fields with Integers as values cannot be handled in CalcFormula of Flowfield. Reservation Entry has such a field.

**To Reproduce**
Steps and to reproduce the behavior:
Extens sales line table with new field that calculates as:

``` AL Code to reproduce the issue ```

[code]

**Expected behavior**
Yesterday the compiler showed error on this. Today with the same version

[2019-10-03 06:32] atoader commented on #5315
Can you set the:
![image](https://user-images.githubusercontent.com/3097909/66104145-fabd5a00-e5b7-11e9-831e-00d3c38e61af.png)
to Verbose, restart your editor, attempt to publish, and then check the EditorServices.log file in C:\Users\YourUser\.vscode\extensions\microsoft.al-*\bin ?
Does it contain any hints as to what is happening?
Does the event log contain any information as to what is happenin

[2019-10-03 06:32] atoader commented on #5315
Don't forget to set the Editor Services Log Level back to Normal after you are done.

[2019-10-03 06:51] thpeder commented on #983
Hi @janhofmann24,
Good news, we are now supporting translating other extensions.
Make a folder called Translations and place your translated xliff in there.
Docs: [Translating other extensions](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-work-with-translation-files#translating-other-extensions)

[2019-10-03 06:52] rdebath commented on #5315
I see no errors. This is three publish attempts.
[code]

[2019-10-03 06:57] dkorinets opened #5319 "Chnage ServicesLanguage on the BC Oncloud"
Is there any possibility to switch ServicesLanguage = 'en-US' to any other for BC onCloud? Can't find any documentation regarding that...

[2019-10-03 07:06] adrian-panaite commented on #983
How can we generate the xliff file for Base Application and System Application?

[2019-10-03 07:58] atoader commented on #5266
Hi @SmartNavisys ! As the bug you are reporting is in a version that is in mainstream support and in an area of the product that is not related to the development experience, we cannot provide assistance on this forum.
You can file a bug on Collaborate at https://partner.microsoft.com/en-us/dashboard/collaborate/engagements/1173/feedback/wits/bugs/create . If you do not have access to that page, p

[2019-10-03 07:58] #5266 closed

[2019-10-03 08:13] rdebath commented on #5315
Well, will you look at that. A project with **just these two files** in it exhibits the same behaviour.
As Douglas Crockford says for applications where comments are necessary (like configuration files) you pipe it through a "JSmin" first.

[code]

[code]

[2019-10-03 08:22] RobbieRoss commented on #5310
This was on Wave 2 2019/10

![image](https://user-images.githubusercontent.com/55992766/66110702-3a3b7480-e5bf-11e9-801b-83634062d75f.png)

Thanks,
Robbie

[2019-10-03 08:39] atoader commented on #5319
Hi! This repository no longer handles general questions and is only dedicated to bug reports and feature suggestions for the AL compiler and developer tools.

To get help for your question please use one of the following resources:
[Business Central Community](https://community.dynamics.com/business/f/758)
[mibuso forum](https://forum.mibuso.com/categories/nav-three-tier)
[Dynamics User Group](htt

[2019-10-03 08:39] #5319 closed

[2019-10-03 08:44] atoader commented on #5315
That helped :) ! The publishing is not triggered at all. Thank you for the repro! It seems that the app.json is to blame. Have you tried starting with a new project?

[2019-10-03 08:46] atoader commented on #5313
Can you set the:
![image](https://user-images.githubusercontent.com/3097909/66104145-fabd5a00-e5b7-11e9-831e-00d3c38e61af.png)
to Verbose, restart your editor, reproduce the issue, and inspect the file.

After you are done, do not forget to change it back to Normal.

[2019-10-03 09:29] kalberes commented on #5288
WE have decided to fix this issue.

[2019-10-03 09:40] kalberes commented on #5317
Does this always repro?

If yes, can you tell us your tenant Id and the exact time you have tried to debug and the client has not responded to a  continue call.

[2019-10-03 09:44] kalberes commented on #5315
Try formatting the app.json within VSCode and then publish again.

[2019-10-03 09:55] TakayukiIso commented on #5317
Hi kalberes,
Thank you for your reply.

I tried it again, but it didn't work.

Details is
tenatid: 491790b8-7bb1-4e66-a910-ea814a67dad4
from: 09:45:51(UTC)   to: 09:46:43(UTC)

Thanks.

[2019-10-03 09:56] rdebath commented on #5315
@kalberes Just in case I tried that; it didn't work.

Sorry, to both of you, I though it was obvious from those files and my commentary.

The problem is that the the AL package routine is loading the `app.json` using a "fascist" JSON loader like you're supposed to use when loading completely untrusted JSON from a hostile client. This routine bombs out if it finds any comment the error is then lost

[2019-10-03 10:51] martonnagy opened #5542 "Javascript AddIn is crashing in Wave 2"
Dear Dev Team,

the following Javascript code is crashing in Wave 2 but was working perfectly fine in BC14
Our guess in the Element is not called controlAddIn any more.

`function LoadBase64(Base64) {
    if (Base64 == '')
        Base64 = Base64Temp;
    document.getElementById('controlAddIn').innerHTML = '<img src="'+Base64+'" width="auto" height="400px;" style="display: block; margin-left: auto

[2019-10-03 11:40] atoader commented on #5315
@rdebath until you published the app.json, the issue was not apparent. Thank you for taking the time to  reproduce the issue. As you can imagine, there is a very large number of issues that can prevent you from publishing, and we need input to narrow the search space down by asking for input until we get to a probable cause.

[2019-10-03 13:35] rdebath commented on #5309
Thanks for that Freddy, I hadn't noticed `Get-NavContainerImageTags` and was stuck with your previous documentation.

As for spinning up a container just for `txt2al` it's actually a far better idea just to copy the Nav-client directory out of the image IMO (a 50th of the size too).

[2019-10-03 14:05] SmartNavisys commented on #5266
No bug to report now. This works as intended in 15.0.36560.0 : )

From: Alexandru Toader [mailto:notifications@github.com]
Sent: Thursday, October 3, 2019 9:59 AM
To: microsoft/AL <AL@noreply.github.com>
Cc: Mark Smart <smart@navisys.cz>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AL] Issue with a Repeater/ListPart in a NavigatePage (#5266)

Hi @SmartNavisys<https://github.com/Sm

[2019-10-03 16:53] kevindstanley1988 opened #5321 "Cannot use "Auto Format" enum in the AutoFormatType field property"
**Compiler complains when I try to use the newly(2019 wave 2) implemented "Auto Format" type in a field Property**
I created an enum extension to "Auto Format" to add "CustomEnum" value. I then went to a table to add that enum value to the "AutoFormatType" and the compiler complains.

**To Reproduce**
The below code will throw a compiler error of 'Integer Literal Expected'.
[code]

**Expected beha

[2019-10-03 19:51] JuricaB commented on #5313
Thanks @atoader after settig to Verbose I can copy the message:
`Analyzer 'Microsoft.Dynamics.Nav.CodeCop.Design.Rule210SuboptimalIndex' threw an exception of type 'System.InvalidCastException' with message 'System.InvalidCastException: Unable to cast object of type 'Microsoft.Dynamics.Nav.CodeAnalysis.Symbols.SourceParameterSymbol' to type 'Microsoft.Dynamics.Nav.CodeAnalysis.IVariableSymbol'.

[2019-10-03 19:57] atoader commented on #983
Hi! You can extract it from the .app file by opening the .app file with 7zip or similar or you can get it from the DVD. Please open new issues for any problems you encounter using this feature.

[2019-10-03 19:57] #983 closed

[2019-10-03 19:57] #4660 closed

[2019-10-03 19:57] #5240 closed

[2019-10-03 19:58] #5237 closed

[2019-10-03 19:58] #4849 closed

[2019-10-03 19:59] atoader commented on #4861
This issue has been fixed in the Wave 2 2019 release. Please open a new issue if you encounter any problems.

[2019-10-03 19:59] #4861 closed

[2019-10-03 20:00] atoader commented on #4977
@r4luk this has been fixed in the latest release. For backports to version 13, please go through the standard support channels.

[2019-10-03 20:00] #4977 closed

[2019-10-03 20:00] atoader commented on #4337
This issue has been fixed in the Wave 2 2019 release.

[2019-10-03 20:00] #4337 closed

[2019-10-03 20:01] atoader commented on #3618
This issue has been fixed in the Wave 2 2019 release.

[2019-10-03 20:01] #3618 closed

[2019-10-03 20:01] #4477 closed

[2019-10-03 20:04] kalberes commented on #5299
Agree, this looks like a bug.

[2019-10-03 20:41] #396 closed

[2019-10-03 20:42] #593 closed

[2019-10-03 20:42] #1644 closed

[2019-10-03 20:42] #2804 closed

[2019-10-04 07:13] TakayukiIso commented on #5317
Hi, thank fou your investigation.

I need a workaround because it hinders my development tasks till my sandbox is updated.
If the server and AL version mismatch is the reason, I wonder if there is no problem with the old AL version, but they were the same though I tried the following older AL versions.
3.0.168874
3.0.152816
Details: from  06:58:00(UTC)  to 06:58:00(UTC)

Is there no workaround...?

[2019-10-04 07:52] qutreson commented on #5318
Hi @mfalk118, it seems that the newer version of the compiler fixes this issue, but that the issue still exists in the version of BC that you are using. When publishing an extension from VS Code, the AL code is compiled once in VS Code to create the package, and once in the server when publishing. This would explain why it fails when publishing with the same error you used to see.

Can you try rep

[2019-10-04 08:49] grobyns commented on #5321
Hi,

the AutoFormatType property does not support adding the enum value. You'll have to add the enum ordinal value (i.e. the integer value) of the option.

br/Gert

[2019-10-04 09:12] kalberes commented on #5317
Ok, for those it should work. In principle even 4.0 should be able to debug against 14.x.
It is very hard to tell you what went wrong. I do not have enough data from the logs. IS breakOnerror set to true. maybe try with breakonreadwrite too.
I have not seen anything special in the logs. Like you deadlock the Azure SQL server, or similar.

[2019-10-04 09:42] kalberes commented on #5315
In principle JSON files should not have comments. There is no fascist JSON reader here. It is as is.

[2019-10-04 09:51] Charan-D365 opened #5322 "This method is obsolete. Call the other CreateMessage instead.'"
![Capture](https://user-images.githubusercontent.com/54058714/66199163-f36c7e00-e695-11e9-8653-5906350326a3.PNG)
How do i call the other CreateMessage Function both have the same names, one marked as obsolete?

 [Obsolete('This method is obsolete. Call the other CreateMessage instead.')]
    [TryFunction]
    **procedure CreateMessage**(FromName: Text; FromAddress: Text; Recipient: Text; Subject:

[2019-10-04 10:25] AronChaan opened #5323 "Job Queue Entry Key fields not in key"
**Describe the bug**
The AL compiler interprets the lack of a key on the Job Queue Entry table as a notification/warning when setting filters on said tables fields.

**To Reproduce**
Write a simple codeunit like:

[code]

``` AL Code to reproduce the issue ```

**Expected behavior**
The compiler should not warn against unavoidable issues.

**Screenshots**
If applicable, add screenshots to help exp

[2019-10-04 10:43] JoelJame5 commented on #5322
@Charan-D365 call the other function with the different parameters.

Obsolete function parameters were
`procedure CreateMessage(FromName: Text; FromAddress: Text; Recipient: Text; Subject: Text; Body: Text; HtmlFormatted: Boolean)`

Replacement function parameters are:
`procedure CreateMessage(FromName: Text; FromAddress: Text; Recipients: List of [Text]; Subject: Text; Body: Text)`

[2019-10-04 11:14] #5322 closed

[2019-10-04 11:31] CarlosAndreuLlaneras commented on #5286
Hi @atoader.
I get the same result on a 15.0.36145.0 (es) docker.

But I've found a way to get the runtime package for apps with dependencies.
I have generated the runtime package, installing the root extension via powershell (instead of doing it from Visual Studio Code (by pressing F5))
In this example, I installed "iDynamics License Management Library" via Powershell and "iDynamics Printing Docu

[2019-10-04 11:57] rdebath commented on #5315
@kalberes Yup, that's exactly the rationalisation that people use.

Firstly, You of course realise that you are recommending that source code has *no* comments in it, and yes a configuration file is source code because if you don't have it you can't compile.

Pretending that the comments are data is both inefficient and an evil hack. One major problem with this hack (for example) is that it become

[2019-10-04 13:33] kevindstanley1988 commented on #5321
If I have to hard define 50000 on the AutoFormatType field and then later have to change the enum value id to 50010, then they are no longer connected. Hard defining an integer for an enum seems counterproductive to the point of what Enum's are supposed to be.

Is there plans to allow for the enum expressions in the AutoFormatType? If not this is a suggestion for a future enhancement.

[2019-10-04 13:49] lukacetko commented on #5284
Also encountered this issue a while a go. Was hoping this was fixed with the Wave 2 release.

[EnumIssuesExample.zip](https://github.com/microsoft/AL/files/3690798/EnumIssuesExample.zip)
Does not work on: Version: Platform 15.0.36510.0 + Application 15.0.36560.36649

[2019-10-04 13:57] JSebastianN opened #5324 "Paste Record variables gives error"
**Describe the bug**
Copy n paste declared record variables from one procedure to another, make the inserted variable gives an error "Table "xx" is missing".
Deleting the table name and use intellisense to insert the exact same - will fix the error.

**To Reproduce**
Copy variable from one procedure to the next.
Use a spaced variable i.e. "name here and here"

``` AL Code to reproduce the issue ``

[2019-10-04 14:03] grobyns commented on #5321
Hi,

yup, this is a bit where legacy meets new. Unfortunately the old properties don't know about enums. It is on the backlog to improve this but I do not know when we'll be able to do that.

br/Gert

[2019-10-04 14:47] larswestman commented on #5296
I think I have provided necessary input now. Otherwise please let me know so we can go forward with this. @atoader

[2019-10-04 17:22] atoader commented on #5296
Thank you very much for the input! We'll follow up first thing next week. We've been restructuring our GitHub process but we now have a plan and the needed dev power to better handle the issues you file.

[2019-10-04 18:49] larswestman commented on #5296
Sounds great! We have an update in our app waiting for this to be resolved.

Just let know if you need anything more from me.

[2019-10-05 10:27] kalberes commented on #5315
@rdebath
We will see what we can do. We use standard API-s for json parsing. We cannot just use anything we wish nor want.

[2019-10-05 10:56] kalberes commented on #5315
@rdebath
It was accepted as a bug that means that you are right and we will see what we can do. It was also accepted as in-progress that means that someone is working on it. Is there anything else to debate?
Side note:
We use standard API-s for json parsing, including the API VSCode uses for the language client. We cannot just use anything we wish or want.

[2019-10-05 12:29] rdebath commented on #5315
@kalberes
Heh, sorry, I have a little issue with people who seem to attach to perceived authority even when that authority claims to have nothing to say in that instance or worse this authority actively defers to someone else.

The primary example of this (for me) is the "undefined behaviour" people in respect to the `C` and `C++` languages; the original authors have stated that it doesn't mean yo

[2019-10-05 16:59] kalberes commented on #5315
What I wanted to say that we are in certain ways bound by our integration into an existing environment.
If you open any package.json project file for example for any language server project in VSCode adding comments is not accepted.
You will get a compilation error. The reason:"message": "Comments are not permitted in JSON.",
On the other hand adding comments to the debug configuration file, or se

[2019-10-05 17:26] kalberes commented on #5310
Possible bug, need more investigation.

[2019-10-07 01:17] TakayukiIso commented on #5317
Hi,
I haven't taken any measures, but the debugger started to work normally from this morning.
I wonder  it was a temporary server or client issue.
Thanks

[2019-10-07 01:17] #5317 closed

[2019-10-07 06:43] mfalk118 commented on #5318
It seems to be solved. You can close this

[2019-10-07 06:43] #5318 closed

[2019-10-07 06:45] jyotivarade opened #5325 "how to add 'control add in' in report ?"
🔻🔻🔻This repository no longer handles general questions and is only dedicated to bug reports and feature suggestions for AL compiler and developer tools 🔻🔻🔻

To get help please use one of the following resources:
[Business Central Community](https://community.dynamics.com/business/f/758)
[mibuso forum](https://forum.mibuso.com/categories/nav-three-tier)
[Dynamics User Group](https://dynamicsuser.ne

[2019-10-07 06:59] qutreson commented on #5325
Hi @jyotivarade, in order for you to get started on control add-ins in AL, you can have a look at the following documentation [Control Add-In Object](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-control-addin-object). In order to add it to a report, you have to declare the control add-in in the `layout` section of the `requestpage` of your report. See mo

[2019-10-07 07:02] qutreson commented on #5323
Hi @AronChaan, thank you for reporting this issue! As we already have an issue tracking it (#5276), I will close this one as a duplicate, but feel free to contribute to the discussion on the issue that linked.

[2019-10-07 07:02] #5323 closed

[2019-10-07 07:05] qutreson commented on #5309
Hi @rdebath, after Freddy's help, are you now able to run the txt2al from 14.x with the fix for the issue reported on illegal characters in the path of the generated files?

[2019-10-07 07:22] auzhhv opened #5326 "Saas: BC 15 Sandbox - Could not download symbols.."
Hi.

I'm not able to download symbols from Sandbox with BC 15 in Saas.
![image](https://user-images.githubusercontent.com/46031720/66292036-92d28080-e8e3-11e9-82a5-2f2ff031a433.png)
![image](https://user-images.githubusercontent.com/46031720/66292057-a4b42380-e8e3-11e9-8db4-65c779ccbbc0.png)

I'm able to get the System app, but not the Application app.
![image](https://user-images.githubuserconten

[2019-10-07 07:23] qutreson commented on #5273
Hi @Walwode, I can reproduce the issue on the version you are mentioning, but not in our latest master or when using the extension from the marketplace.

The actual error is because the image name `filter` (which is also a keyword in AL) cannot be parsed properly on the version of the compiler used in your server. This results in an Error diagnostic which makes your publish fail.

![image](https:/

[2019-10-07 07:27] qutreson commented on #5273
Digging into our commit history, it seems that this issue was originally reported here #4798

[2019-10-07 07:29] qutreson commented on #5273
@Walwode, closing this issue as it is now fixed in our latest compiler previews and because a workaround exists in the version you are targeting.

[2019-10-07 07:29] #5273 closed

[2019-10-07 07:35] qutreson commented on #5326
Hi @auzhhv, when using previews from BC version 15.x, the base application has been converted from C/AL to AL. This means that the Base Application now behaves like any other extensions.

In order to take a dependency on it, you now have to specify it as follows:

[code]

instead of `"application": "14.0.0.0"`

Using `application` now only works with the runtime versions 3.x and 4.x.

[2019-10-07 07:38] qutreson commented on #5303
Hi @tjaitly1986, were you also able to reproduce this issue on our latest developer previews? (AL version 4.x and BC version 15.x)?

[2019-10-07 07:44] qutreson commented on #2266
This issue has been fixed and the fix is available in version/14.x. Associated build number is 35439.

[2019-10-07 07:44] #2266 closed

[2019-10-07 07:45] auzhhv commented on #5326
Thank you. That seems to work :)

[2019-10-07 07:45] #5326 closed

[2019-10-07 07:46] qutreson commented on #5145
This issue is now fixed after a new version of the AL extension was published to the market place.

[2019-10-07 07:46] #5145 closed

[2019-10-07 07:51] qutreson commented on #4396
@mynhardt7 any update on this issue? Is this still blocking you or can I close this issue?

[2019-10-07 07:52] mynhardt7 commented on #4396
@qutreson Please close. I'll recheck now that BC15 is launched and create a new issue if the issue still exists.

[2019-10-07 07:55] qutreson commented on #4396
@mynhardt7 perfect, thank you. If you create a new issue, please also add a link to this issue in the description.

[2019-10-07 07:55] #4396 closed

[2019-10-07 07:59] qutreson commented on #4414
Hi @JulienDecottignies, can you verify if you are still experiencing this issue when using our latest developer previews (BC15)?

[2019-10-07 08:22] Addice73 commented on #5243
Any news on this ? Was it posted to collaborate ?

[2019-10-07 08:24] jyotivarade commented on #5325
pageextension 50106 SalesInvoice extends "Posted Sales Invoice"
{
    layout
    {
addafter("Shipping and Billing")
        {
            part(map; GoogleMapCardCustomer)
            {
                Caption = 'Google map';
                ApplicationArea = all;
                // SubPageLink = "No." = field("Bill-to Customer No.");
                SubPageLink = "No." = field("No.");

[2019-10-07 08:30] jwikman commented on #5313
I think this is related to some characters in the app.json that the AL Language extension does not like.

Auto format the app.json with AL Language does not help, but if you instead use the VSCode function "Format Document with..." and select "JSON Language Features".
I've had issues with "hard spaces" (char 160) and a trailing new line. After I've reformatted my app.json, the error disappears.

T

[2019-10-07 08:55] qutreson commented on #4414
Thank you for your update, I will then close the issue :)

[2019-10-07 08:55] #4414 closed

[2019-10-07 09:41] qutreson commented on #5315
#4702

[2019-10-07 09:41] qutreson commented on #4702
Closing as duplicate of #5315

[2019-10-07 09:53] stefanoPrimo opened #5327 "AL Language CPU Usage on save"
Hi
I've just found out that when I save a document, even thou it has only a line modified, the AL Language extension use at least 20% of CPU resources.
Can it be improved?
Thanks

**5. Versions:**

 - AL Language:
Name: AL Language
Id: ms-dynamics-smb.al
Description: AL development tools for Dynamics 365 Business Central
Version: 4.0.182565
Publisher: Microsoft
VS Marketplace Link: https://marketp

[2019-10-07 11:04] scriddler commented on #3618
Hi! it is not! I am just working on a "CRONUS" database (released with Wave 2), everything is stored on a local device (no UNC paths) and I am only creating AL objects.  And I get a lot of these errors. Please let me know if you need any sampes, thx!

[2019-10-07 11:06] atoader commented on #5327
@stefanoPrimo how large is your solution? Do you have code lens turned off? Do you have code analysis disabled?

[2019-10-07 11:16] rdebath commented on #5309
Okay, I hadn't checked because I've given up on it and just script some nicer names.

It is no longer complaining about "illegal characters", but I suspect it's not doing what you want for the `{targetName}` attribute in that it's keeping spaces and fillers for all the "illegal" characters. (This is for both TableExt and PageExt).

The first argument for the `mv` command in this generated script i

[2019-10-07 11:39] AndreyKorepanov commented on #3830
Duplicate of https://github.com/microsoft/AL/issues/5158

[2019-10-07 11:39] #3830 closed

[2019-10-07 11:56] qutreson commented on #5309
We have currently set the behavior to escape the illegal characters by using `_`. We chose this approach in order to minimize risks of collisions, but skipping it as you suggest is probably better. We'll fix that in our 14.x images

[2019-10-07 11:56] rdebath commented on #5313
@jwikman
The fact that these errors disappear when you save the app.json file is an artefact of the poor caching of the errors generated by the background processes (Like the fact that the errors disappear when you click on one). Random unexpected errors are thrown against the `app.json` file not the file that triggered them. Saving any change to the `app.json` file deletes all errors attached to

[2019-10-07 11:59] qutreson commented on #4590
@LFlamme, closing this issue as we believe it has been fixed in our latest developer previews. Please note that for verifying fixes related to the txt2al, you need to check out our latest developer previews for the version 14.x as C/SIDE is not shipped in 15.x anymore. Feel free to log a new issue if you can still reproduce it there.

[2019-10-07 11:59] #4590 closed

[2019-10-07 12:01] qutreson commented on #4646
Hi @NAVFreak can you try reproducing this issue on the latest development environment?

[2019-10-07 12:03] qutreson commented on #4650
Hi @ashik-ivor, are you still experiencing this issue on our latest developer previews? Can you also verify if you were in a similar scenario to the one described by kine?

[2019-10-07 12:04] ralf-escher commented on #5192
Successfully converted the example above with `Convert-ModifiedObjectsToAl` and the `-runTxt2AlInContainer` parameter with a newer BC14 sandbox `[14.6.36666.0-de-ltsc2019]`, like mentioned in #5309 by @freddydk

Filename: `tableextension50105.TableExt-_Planning Routing Line_.al`
[code]

@qutreson: is the resulting AL file correct?
As I started the conversion two months ago, the name of the extensi

[2019-10-07 12:08] ralf-escher commented on #5309
@qutreson: I successfully created AL files due to the hint of @freddydk.
However I got a problem with the extension name (inside the AL file), see my issue #5192.

[2019-10-07 12:10] rdebath opened #5328 "[AA0175] ISEMPTY is not an appropriate substitute."
**Describe the bug**
The new V4 warning `"warning AA0175: Variable 'TimesheetLedger' queries the database in 'CreditInvoice' but does not use the queried record. Only find or get record if you need to access the values. Consider using ISEMPTY."` is generally very good but is occasionally being triggered when there isn't a reasonable replacement.

**To Reproduce**
Use a `FindFirst` to trigger an er

[2019-10-07 12:12] qutreson commented on #4726
Hi @tejabalusu can you provide us with some more information about the issue that you are experiencing?

[2019-10-07 12:15] stefanoPrimo commented on #5327
My solution has 60 objects in total.
I have code analysis enabled (PerTenantExtensionCop, CodeCop, UICop)
Code Action enabled
code lens enabled.

Of course, the combination of all use a bit of CPU but I think that it is the minimum requirement for having a great developing experience.

[2019-10-07 12:16] qutreson commented on #4761
Hi @bhlDeex, are you still experiencing this issue? It seems that your container does not contain the Test symbols required to publish the extension `KR AddFinder Test`. Did you trying running Get-NavAppInfo -SymbolsOnly to verify whether they are published on your server or not?

[2019-10-07 12:21] ralf-escher commented on #5192
Related issue: the generated .xlf language files corresponds to this extension name  (tableextension50105). If we reorganize/rename the extension files (e.g. by @waldo1001 CRS AL Language Extension), the caption could no longer found since the trans-unit id is calculated (somehow) by the extension name.

[code]

[2019-10-07 12:25] AlaAuz opened #5329 "BC 15 Sandbox Saas - Codeunit "Temp Blob" missing?"
Hi.

TempBlob is marked for removal.

According to this link you are supposed to use codeunit "Temp Blob", but it is missing after downloading symbols from BC 15 Sandbox in Saas.
https://community.dynamics.com/business/f/dynamics-365-business-central-forum/368048/warning-al0432-table-tempblob-is-marked-for-removal-reason-replaced-by-blob-storage-module

![image](https://user-images.githubuserconte

[2019-10-07 12:30] AlaAuz commented on #5329
Was missing dependencies on system application.

[2019-10-07 12:30] #5329 closed

[2019-10-07 12:42] qutreson commented on #4895
@NavTechAnas, I am closing this issue because it appears that it has been resolved. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-07 12:42] #4895 closed

[2019-10-07 12:44] qutreson commented on #4939
Could be similar to #5299

[2019-10-07 12:49] qutreson commented on #5001
I am closing this issue because it appears that it has been resolved. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-07 12:49] #5001 closed

[2019-10-07 13:10] epernst commented on #5263
I'm getting the same error in the AL output in VSCode on version 14.0.35916.0, but with different key.

Mine is a standard DB with one c/al table and one page and the key is "Test Tool" (not part of my code, but test toolkit is loaded).

[2019-10-07 13:15] PooyaKharamesh commented on #4871
I am closing this issue because it appears that it has been resolved. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-07 13:15] #4871 closed

[2019-10-07 13:29] qutreson commented on #5192
@ralf-escher we are currently escaping invalid characters by using _ but as discussed in the related issue, we will fix it to just remove invalid characters.

The fix did not modify the name of the AL objects created by the txt2al in these files, it is still {type}{id}.

After the conversion to AL, by modifying the name of the AL objects, you are breaking the translation keys. This is by design. A

[2019-10-07 13:38] atoader commented on #5327
@stefanoPrimo do you experience the same behavior if you disable the code analysis? It might be that one of the tens of rules in the cops is not as efficient as it could be. The only way to find this out is by profiling the compiler under similar conditions. Can you provide any sample code that reproduces this?

[2019-10-07 14:05] qutreson commented on #4548
Hi @ashik-ivor, can you try reproducing this issue on the latest developer preview?

[2019-10-07 14:20] qutreson commented on #4835
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-07 14:20] #4835 closed

[2019-10-07 14:21] qutreson commented on #5007
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-07 14:21] #5007 closed

[2019-10-07 14:23] qutreson commented on #4994
@adrianordonez, can we close this is issue or are you still facing it? Also, can you try to reproduce it on our latest developer previews?

[2019-10-07 14:52] qutreson commented on #5096
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-07 14:52] #5096 closed

[2019-10-07 14:53] #5161 closed

[2019-10-07 15:00] qutreson commented on #5325
@jyotivarade, this repository no longer handles general questions and is only dedicated to bug reports and feature suggestions for the latest preview version of the AL compiler and developer tools.

To get help for your question please use one of the following resources:
[Business Central Community](https://community.dynamics.com/business/f/758)
[mibuso forum](https://forum.mibuso.com/categories/n

[2019-10-07 15:00] #5325 closed

[2019-10-07 15:05] SteveyN commented on #5243
@Addice73
Our team is having trouble getting our accounts sorted for Collaborate, so we are unable to post at this time. If you (or anyone else who sees this message) are able to post to Collaborate, can you post this issue and link your post back here?

Many thanks

[2019-10-07 15:19] adrianordonez commented on #4994
no, i have to create a new sandbox enviroment

[2019-10-07 15:19] #4994 closed

[2019-10-07 15:41] adrianordonez opened #5332 "How to upload dev license to Business Central Online and on Prem"
Hello

i got my dev license and with it my own ids but when i update my objects ids i got the following error
error AL0297: The application object identifier '70375845' is not valid. It must be within the allowed ranges '[50100..50149]'.

[2019-10-07 15:59] Addice73 commented on #5243
[image: image.png]
Andrea

On Mon, Oct 7, 2019 at 5:05 PM Steve Norfolk <notifications@github.com>
wrote:

[2019-10-07 17:23] qutreson commented on #5332
@adrianordonez, you need to update the idRange in your app.json to reflect the ID range that was assigned to you in your developer's license (see [our online documentation](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-json-files#Appjson)).

[2019-10-07 19:49] LoanVision opened #5333 "Regex Match no longer available?"
Hello,
previously in Type Helper codeunit we had Regex Match functionality. Was it moved somewhere or it was just removed?

Thank You!

[2019-10-07 20:04] JuricaB commented on #5313
@jwikman : @rdebath is right - it is not related to app.json characters issue (I have seen that one before too). Using Format Document With...JSON appears to fix the issue- but so does making any change in app.json and saving it. After reopening the project, same error shows up again.

[2019-10-07 20:04] adrianordonez commented on #5332
For Sandbox eviroment i have no problem, in my app.json i have the correct id range but when i want to install in Production enviroment i got an error for each object, example:

(1,24): error PTE0001: PageExtension 'GRWPostSalesInvcSubForm_CFDI33' has an ID of [70375904]. It must be between 50000 and 99999.
(1,15): error PTE0001: Page 'GRWCFDICertificate' has an ID of [70375905]. It must be betwee

[2019-10-07 20:10] jwikman commented on #5313
@JuricaB @rdebath, you are right guys. The error is back now. :(

[2019-10-07 20:41] #5158 closed

[2019-10-07 22:38] robertosb opened #5334 "Logging HTTP outbound calls"
Hi team,

   I searched and couldn't find something specific around logging outbound HTTP calls.
   Is this supported and how would you go about doing that? I know in NAV there was a flag that we used to set which was creating a file on the server side with the call.
   What is the best process of doing that in AL, is there an example somewhere that we can re-use?
   If there isn't one, this is a

[2019-10-07 23:35] MBK75 opened #5335 "Error compiling 'al/createPackage' failed with error"
**Describe the bug**
I added a new extension folder to a project, copied some AL files from another folder, renamed the files, and compiled the Workspace.

**To Reproduce**
1. Compile
2. Error:
`[Error - 5:32:32 PM] Please report this issue to https://github.com/microsoft/al/issues including information on how to reproduce it, if possible.
Processing of message 'al/createPackage' failed with error

[2019-10-07 23:37] MBK75 commented on #5335
I found the resolution.  There is an action subscribing to a non-existent action.  That said, this should probably be fixed.

[2019-10-08 02:26] #5198 closed

[2019-10-08 06:58] qutreson commented on #5332
Are you getting this error when compiling your extension in VS Code or when trying to publish it?

[2019-10-08 07:03] qutreson commented on #5333
@LoanVision, did you have a look at the ALAppExtensions repository? There is there a list of the breaking changes that were introduced and of how to fix them: [BREAKINGCHANGES](https://github.com/microsoft/ALAppExtensions/blob/master/BREAKINGCHANGES.md). If you cannot find what you need in the list, they are also providing some guidelines about what to do next [here](https://github.com/microsoft/A

[2019-10-08 07:03] #5333 closed

[2019-10-08 07:04] qutreson commented on #5335
@MBK75 if you found the cause of the issue, can you share with us a small snippet of code that reproduces it?

[2019-10-08 07:04] qutreson commented on #5335
Note: This looks like a duplicate of #5292

[2019-10-08 07:28] qutreson commented on #5335
@MBK75 I can actually reproduce this issue. Closing as duplicate of #5292. Please follow issue #5292 to know when it gets resolved.

[2019-10-08 07:28] #5335 closed

[2019-10-08 07:30] qutreson commented on #5292
@g-franck thank you for your additional information, we can now reproduce this issue.

[2019-10-08 07:33] qutreson commented on #5040
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-08 07:33] #5040 closed

[2019-10-08 07:48] goetudose opened #5336 "General Journal Show Fewer Columns Error"
When is used button "Show Fewer Columns" from "General Journal" and it's selected and batch who has Bal Account Type Bank Account and has complete Currency Code then it appear the bellow error.
![image](https://user-images.githubusercontent.com/35959288/66376662-d3e89480-e9b8-11e9-917d-f8e8db47c827.png)

It seems in the function SetDataForSimpleModeOnOpen variable CurrentCurrencyCode is cleared wh

[2019-10-08 08:44] qutreson commented on #5324
Hi @JSebastianN, we tried reproducing the issue based on what you described, but couldn't reproduce it. Can you try to update this issue with more detailed repro steps? Are you using a workspace with multiple projects/extensions open? A gif recording of the issue could help as well.

[2019-10-08 08:47] qutreson commented on #5334
Great idea! Go ahead and post this to our Ideas forum at https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. We're constantly monitoring top Ideas and will consider them for a future release.

[2019-10-08 08:47] #5334 closed

[2019-10-08 08:51] JohnnyUndercover opened #5337 "Create Package with custom Word Layout fails"
I copied the dataset of an existing report and published it to an sandbox environment. Then the customer created his own word layout. During these we changed the dataset a few times because of new requirements or fixing bugs. In the Sandbox everything works with this layouts.
After that i downloaded the word layout and added it to the extension (replaced the empty .docx files).

Now, when i try to

[2019-10-08 08:58] qutreson commented on #4981
@RCORELLA can you reproduce this issue on the latest developer previews (version 15.x) ?
Can you also attach here some files that reproduces the issue:
- the C/AL file you are using in C/SIDE on prem
- the AL file you are now using in VS Code and for which the issue appears

[2019-10-08 09:08] qutreson commented on #4799
@RobynGee, I was able to reproduce the issue based on the project attached in your latest comment.

[2019-10-08 09:15] qutreson commented on #4791
Hi @hvogelpohl, it seems that the link your provided in your last comment is now broken.. Can you please update it or provide us another repro of this issue?
We had some bug fixes around XMLPorts in the last weeks, can you give it a try with the latest developer preview (version 15.x) and tell us if your issue is fixed there?

[2019-10-08 09:38] qutreson commented on #4564
Hi @stefanoPrimo , sorry for the delay in answering to this issue. I had a look back at it and I am now able to reproduce it. It seems that the rule [PTE0004](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/analyzers/pertenantextensioncop-pte0004-tablesmusthavepermissionsetdefined) expects to see "TableData" instead of "Table Data". The workaround is to use 0 inst

[2019-10-08 09:49] qutreson commented on #4581
@ralf-escher is your colleague also running the same docker image (on the same version)? Is this issue still blocking you (and your colleagues) as it seems that you were able to have it working in your container?

[2019-10-08 09:55] qutreson commented on #5337
@JohnnyUndercover this looks like a bug in the compiler. Can you update this issue with?
- the version of the AL extension that you are using
- a small extension that reproduces this issue (we would need the report and its layout)

[2019-10-08 09:58] qutreson commented on #5336
This GitHub repository is dedicated to handling issues and feedback for the latest Developer Preview releases of the AL development tools for Dynamics 365 Business Central.

If you can reproduce the problem on the latest Business Central Developer preview version we will be happy to look further into it. Otherwise please contact the regular support channel.

You can open Support Request to CSS thr

[2019-10-08 09:58] #5336 closed

[2019-10-08 10:02] ralf-escher commented on #4581
@qutreson: we completly switched to work with docker, therefore the problem is solved that way for us.
Nevertheless the problem still occurs if I export the object from our sql server (just tested with BC14-CU5).

[2019-10-08 10:10] JohnnyUndercover commented on #5337
@qutreson thanks for your response.

Attached you find a extension to reproduce the error.

[ALProject7.zip](https://github.com/microsoft/AL/files/3701878/ALProject7.zip)

[2019-10-08 10:51] qutreson commented on #5337
which version of the compiler are you using?

[2019-10-08 11:39] JohnnyUndercover commented on #5337
I'm using AL Language extension with Version 4.0.170493

[2019-10-08 11:44] JohnnyUndercover commented on #5337
For AL Language extension Version 4.0.176004 i get the same result.

[2019-10-08 11:53] Update-Mark opened #5338 "OnOpenPage seems to be firing before sorted and filtering of the table."
**Describe the bug**
I have a client who would simply like to reverse the sort order of the Sales Order List in BC14. They know that they can click on the column, but it's a convenience issue for them.

So created a page extension and added the following:
[code]
and published and ran the Sales Order List....nothing.
Ran it in the Windows Client...works.
I know this used to be possible, and I am th

[2019-10-08 11:59] update-jeremy commented on #5338
I can confirm this is a sequence issue.  In the Classic / RTC environment, during the OnOpenPage trigger, you can change your FILTERGROUPs to 3 or 4 to get the link/view.  In the BC Web Environments, OnOpenPage, even if it's a factbox linked from a Sales Order, if you cycle through FILTERGROUPS 1-10, they're all 100% empty.

For a User Story on this, this means that Extensions can't hook up to the

[2019-10-08 12:34] qutreson commented on #5337
I can now reproduce the issue based on the project you attached. Thank you.

[2019-10-08 12:41] thpeder commented on #5338
Let's get the issue to a team who will fix and backport it, as this repository is only for issues related to the AL compiler in latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a

[2019-10-08 12:41] #5338 closed

[2019-10-08 14:29] qutreson commented on #5332
The system is behaving as expected, when trying to publish a PTE extension you should use object IDs from the range 50 000 to 99 999.

[2019-10-08 14:32] qutreson commented on #5115
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-08 14:32] #5115 closed

[2019-10-08 14:34] qutreson commented on #5125
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-08 14:35] qutreson commented on #5170
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-08 14:35] #5170 closed

[2019-10-08 14:35] #5181 closed

[2019-10-08 14:37] qutreson commented on #5202
I am closing this issue because it appears that it has been resolved. Please open a new issue if you can still reproduce it in our latest developer previews and reference the current issue.

[2019-10-08 14:37] #5202 closed

[2019-10-08 14:37] qutreson commented on #5199
Hi @tomasevicstefan did you give it a try on our latest developer preview (version 15.x) ?

[2019-10-08 14:38] qutreson commented on #5214
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-08 15:08] qutreson commented on #4372
Hi @JulianTillmann, are you still facing this issue when using our latest developer preview (version 15.x)?

[2019-10-08 15:12] navaddict opened #5339 "Extension creates records in new table but no visibility! (in sandbox)"
**Describe the bug**
I have created a new table which stores records per Vendor and also a page for the table.  However, no records are visible even though I know they have been created (checked in the browser with Ctrl+Alt+F1 and can see the new record has the correct data)

**To Reproduce**
1. Create a new table and page
2. Create table and page extensions for the Vendor adding a new boolean fie

[2019-10-08 16:03] qutreson commented on #4191
Hi @Wiechardt, are you are able to reproduce this issue on the latest developer preview (version 15.x)?

[2019-10-08 16:24] qutreson commented on #5339
Hi @navaddict, did you set the application area property on your page controls?

[2019-10-08 16:32] qutreson commented on #4753
Hi @JakobAaen, can you reproduce it using the latest developer preview and the new Base Application on AL? If yes, please open another issue and reference this one.

Closing now this issue as this GitHub repository is dedicated to handling issues and feedback for the latest Developer Preview releases of the AL development tools for Dynamics 365 Business Central.

You can open Support Request to CS

[2019-10-08 16:32] #4753 closed

[2019-10-08 16:35] qutreson commented on #4914
@Pieterheinevdm are you still able to reproduce this issue using the latest developer previews from the 14.x branch?

[2019-10-08 16:43] qutreson commented on #3733
Hi @rvanbekkum, can you try reproducing it on the latest developer preview from the version 14.x? If it still reproduces, can you share with us some C/AL code that would reproduce this issue after being converted to AL?

[2019-10-08 18:58] robertosb commented on #5334
Proposed solution (also raised on Ideas):
The way I've done it was to stream to a text file the contents of the HTTPRequestMessage, but I'd be nice to see more details like headers, etc, stuff that you could normally see on a server through Fiddler, or by enabling the log flag in NAV standard.
That I guess could be implemented with setting a flag and instead of a HTTP request sent, it should autom

[2019-10-08 21:09] AndreyKorepanov commented on #5313
Hi @JuricaB, I am trying to reproduce on 4.0.182565 using the steps above. I am using the code from your snippet (with the swapped SetRange and  FindFirst lines) to provoke the AA0210 warning, but still can not get repro. The problem might happen for some specific app.json items. Could you share your app.json.
Could you also try to repro the bug with the latest AL extension daily build, it might b

[2019-10-08 21:16] JuricaB commented on #5313
Hi @AndreyKorepanov

See below for app.json:
`{
  "id": "fb4a6873-0ac6-4345-9f3c-767576998a3c",
  "name": "WAVE2",
  "publisher": "Default publisher",
  "version": "1.0.0.0",
  "brief": "",
  "description": "",
  "privacyStatement": "",
  "EULA": "",
  "help": "",
  "url": "",
  "logo": "",
  "dependencies": [
    {
      "appId": "63ca2fa4-4f03-4f2b-a480-172fef340d3f",
      "publisher": "Microso

[2019-10-09 06:04] JohanStenberg100 commented on #4507
Hi again @robertoscaringella, when you filed this issue upgrade from the DEV endpoint (through VS code) wasn't implemented. I suggest that you retry this scenario and get back to us here if you have any issues. Thanks!

[2019-10-09 07:07] #5292 closed

[2019-10-09 08:34] JulienDecottignies opened #5340 "[Cloud target] The property 'IsControlAddIn' must be set on the .NET type (...)"
Hi,

**Describe the bug**

When publishing extension from vscode or with powershell cmdlet to my container, it fails with this error message:
[code]

Obviously, I can't create a dotnet reference to this assembly as I am targetting a Cloud version.

This piece of code worked in previous versionS, I just wanted to migrate it into the wave2 release.

Is there any declaration difference in this versio

[2019-10-09 09:08] navaddict commented on #5339
Argh!  It turns out that I'd put them everywhere but that page .. thanks **very much** for that!!

I wish the MS Base App would default ApplicationArea = All; if it isn't specified (as it does with Visible, Editable etc) as it's going to catch everyone out at some point!

[2019-10-09 09:08] #5339 closed

[2019-10-09 09:18] Pieterheinevdm commented on #4914
?this issue is 6 months old, our company could wait that long so we implemented a workaround. The steps to reproduce are simple, could you run a test your self?

[2019-10-09 11:50] thpeder commented on #5340
Hi @JulienDecottignies,

Thanks for reporting the issue, it seems like we are mapping the name of the ControlAddin to a .net type.
The workaround for now is to rename it so it doesn't use the same name.

[2019-10-09 11:54] JulienDecottignies commented on #5340
Yes that's it ! Thanks ! Renaming it with "MyMap" solved it!

[2019-10-09 11:57] #4564 closed

[2019-10-09 12:01] #5265 closed

[2019-10-09 14:35] rdebath opened #5341 "AA0137 "Unused variable" warning given for used variable."
**Describe the bug**
Warning [AA0137] is emitted for a variable that is being used.

**To Reproduce**
[code]
Then define the variable as a text constant.
In addition different errors are produced if the variable's name is `Text000`. A message that the variable is inaccessible due to it's protection level and a crash registered against `app.json`. This is in a page, not a page extension.

[code]

*

[2019-10-10 08:30] thpeder commented on #5341
Hi @rdebath,

With the following code I'm able to get the "Unused variables" warning, however I can't get the stack trace to show.
Could you provide a some code that reproduces that issue.

[code]

[2019-10-10 09:15] qutreson commented on #5129
Hi @ajkauffmann, I looked into our code base and our commit history and it seems that this behavior is this the intended behavior. This change was made in 2008 so even if it can look like an unexpected behavior, other partners may be relying on this behavior. Closing then as by design.

[2019-10-10 09:15] #5129 closed

[2019-10-10 09:20] manishratan opened #5342 "inaccessible due to its protection level"
Platform:  Dynamics 365 Business Central.
Version :   US Business Central 14.3

Code:
[code]

Error: error AL0161: 'ShipToOptions' is inaccessible due to its protection level
![e](https://user-images.githubusercontent.com/45168210/66556087-426e5380-eb6d-11e9-8bbb-7806733f24ad.png)

[2019-10-10 10:36] tomasevicstefan commented on #5199
No, unfortunately I can't build environment on version 15, because I'm not registered on microsoft collaborate. So I didn't try if this problem still exist.

[2019-10-10 11:40] AlvarBT opened #5343 "Error Visual Code Studio"
**when I try to create a package in visual code studio, I don't believe it and this message appears**

Microsoft (R) AL Compiler version 4.0.2.51497
Copyright (C) Microsoft Corporation. All rights reserved

Compilation started for project 'FORYMAT' containing '217' files at '13:36:23.160'.

Compilation ended at '13:36:23.332'.

[code]

[2019-10-10 11:42] Sven-Niehus commented on #5262
The problem is still existing in the September release (version 1.39) of VS Code and AL Language version 4.0.182565.

I also tried the "postDebugTask" with the same effect

[2019-10-10 12:10] rdebath commented on #5341
After deleting almost everything from the project with the problem I finally realised where the weird "protection level" error was coming from. It appears that the MS/AL compiler thinks that globals in the `SourceTable` of a page are in some way accessible to the page sometimes. So if you add

`SourceTable = Customer;`

to the page you'll get the crash with `Text000`.

[2019-10-10 12:51] rdebath opened #5344 "Remove clutter from root of project."
**Describe the bug**
The `AppSourceCop.json` and `permissionsAnalyzer.json` files must be in the root of the project to work correctly.

**To Reproduce**
If moved into `.vscode` they no longer have any effect and get recreated respectively.

**Expected behavior**
A method of moving these files into (for example) the `.vscode` directory.
Reasonable method examples include
 * Add an item to the `set

[2019-10-10 12:58] NKarolak opened #5345 ""Cannot read property 'kind' of null" error logged permanently"
**Describe the bug**
Whenever I open or work on a file, VS Code will generate the following Output error:
[code]

(The original text of this Issue was about performance. I suppose that this bug affects performance.)

**To Reproduce**

1. Make sure the Output window is open, on [Log (Extension Host)]
2. Open any file from the current folder. The bigger, the better, e.g. a Matrix page with many fiel

[2019-10-10 14:08] chaouachi-ayoub opened #5346 "Upgrading from Dynamics 365 Business Central 2019 April Release unmodified application to Dynamics 365 Business Central 2019 Release Wave french localisation"
Hello,
when Upgrading from Dynamics 365 Business Central 2019 April Release unmodified application to Dynamics 365 Business Central 2019 Release Wave 2 french localisation
I have the issue when i try to excute this code with powershell

There is already an object named '**** $ Prod_Line Order Routing' $ 437dbf0e-84ff-417a-965d-ed2bb9650972 $ VSIFT $ Key5 'in the database.

when i try to excute thi

[2019-10-10 14:40] jbakach opened #5347 "Error with no sense when publishing extension"
**Describe the bug**
When compiling and publishing I get the following error, but no compilation error or whatsoever, even though it gets finally published the extension without any problem. But I first get the error shown and then it gets published, it makes me confused because I thought there was a problem in the extension:

![image](https://user-images.githubusercontent.com/3531482/66578975-583

[2019-10-10 14:40] chaouachi-ayoub commented on #5346
I have the same issue when I try to upgrade a demo database

 https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/upgrade/upgrade-unmodified-application

[2019-10-10 14:53] thpeder commented on #5342
Hi @manishratan,

You are trying to access a global variable which can only be accessed within the page itself or if the variables are marked with protected then within page extensions.
This is by design.

[2019-10-10 15:03] #5342 closed

[2019-10-10 15:06] #5343 closed

[2019-10-10 15:08] qutreson commented on #5344
Great idea! Go ahead and post this to our Ideas forum at https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. We're constantly monitoring top Ideas and will consider them for a future release.

[2019-10-10 15:18] jyotivarade opened #5348 "How to show controladdin field in report"
**Describe the bug**
I need to show user-control field in report. i have added this in request page as shown below
report 50105 "Sales Report"
{
    UsageCategory = ReportsAndAnalysis;
    ApplicationArea = All;
    WordLayout = 'Report/SalesInvoiceReport.docx';
    RDLCLayout = 'Report/SalesInvoiceReport.rdl';
    EnableExternalImages = true;
    dataset
    {
        dataitem(DataItemName; "Sale

[2019-10-10 15:24] #5348 closed, assigned to nobody

[2019-10-10 17:10] rdebath commented on #5344
That URL appears to be dead.

[2019-10-11 05:02] ralf-escher opened #5349 "Calculation of translation key"
Inspired by my issue #5192 (at the bottom end) and @qutreson:
The generated .xlf language files correspond to the extension names (e.g. tableextension50105).
If we want to reorganize/rename the extension objects we need to recalculate the `<trans-unit id>`.
But how?

[code]

[2019-10-11 06:18] NKarolak commented on #5344
@rdebath I suppose he meant [this site](https://experience.dynamics.com/ideas/categories/?forum=e288ef32-82ed-e611-8101-5065f38b21f1&forumName=Dynamics%20365%20Business%20Central)

[2019-10-11 06:58] abison007 commented on #5283
Can you please share here, if you have identified any way to resolve this issue?

[2019-10-11 08:08] thpeder commented on #5342
The "Sales order" page needs to be updated to expose the global variables. If you need it then raise a issue on [microsoft/ALAppExtensions](https://github.com/microsoft).
For seeing the protection level, the default is that it is only accessible from within the page itself, and "Go to definition" doesn't show the access levels  at the moment either, so it can be a bit hard to discover, but the err

[2019-10-11 08:27] thpeder commented on #5349
Hi @ralf-escher,
There currently is no easy way of doing it. You need to do your renaming in AL, build the project, and find the new translation id in the generated translation file (*.g.xlf) and update in your translation files all the translations with the new id.
Go ahead and post this to our Ideas forum at https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. We're con

[2019-10-11 08:27] #5349 closed

[2019-10-11 08:32] ralf-escher commented on #5349
Thanks for your fast reply!
I guess the easiest approachfor us would be to program some kind of routine which is going to update the translation id's in our language files.

[2019-10-11 08:51] thpeder commented on #5283
Issues related to navcontainerhelper or docker should be filed on **https://github.com/microsoft/navcontainerhelper** or **https://github.com/microsoft/nav-docker**.

Please test your installation using this: **https://blogs.msdn.microsoft.com/freddyk/2017/10/29/troubleshooting-nav-on-docker/** or using this script **http://aka.ms/debug-containerhost.ps1**
and if that doesn't resolve your issue, c

[2019-10-11 09:51] #5297 closed

[2019-10-11 09:52] thpeder commented on #5199
Hi @tomasevicstefan,
I just tried with the following code and it seems to work on the latest version.
Please register on collaborate and give your code a try on the latest version.
[code]
![image](https://user-images.githubusercontent.com/24276180/66642527-3772fc00-ec1d-11e9-8185-b571f5f9e0cf.png)

[2019-10-11 09:55] rdebath commented on #5332
https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-rule-set-syntax-for-code-analysis-tools

http://www.waldo.be/2018/03/26/enable-the-updated-code-analysis-for-al/

There are several "errors" that the `$COP` programs generate that are either a matter of opinion or just plain wrong. The above feature lets you either disable them or downgrade them to "Info messa

[2019-10-11 10:02] thpeder commented on #5341
I just tried adding the `SourceTable = Customer;` to the code and noticed that `Text000` is a global variable of type Label defined on the customer table, so that is inaccessible by design but it doesn't crash for me.
Are you using the latest version from the marketplace?

[2019-10-11 10:35] rdebath commented on #5341
Yup, I'm still on the same version of the AL extension. The crash doesn't seem to depend on the version of the symbols (below is V13, previous are on V15 and runtime 4.0).

I've disabled all other extensions in this workspace; no change. The version of vscode was updated; no change.

When I comment out and save your `altest.al` the "protection level" error and the exception against `app.json` both

[2019-10-11 11:23] thpeder commented on #5341
I got it now. I forgot to comment out the declaration in the current object.
Thanks for reporting the bug.

[2019-10-11 12:39] hoovercj commented on #4324
@JavierFuentes thanks for reporting this to us. 'gray-lists' (or embedded lists, as we call them) are considered "read only", so we do not have any immediate plans to support this behavior.

[2019-10-11 13:19] ralf-escher commented on #4203
We have just experienced this bug with our AL environment (official BC15), 😞
additionally the "Run In Web Client" also only works with one configuration in launch.json.
Any chance this issue will be solved in time?

[2019-10-11 14:19] qutreson commented on #5211
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-11 14:19] #5211 closed

[2019-10-11 16:40] AskeHolst commented on #5346
From the [docs](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/upgrade/upgrade-unmodified-application):
**Prerequisite**
Upgrade to the latest Business Central Spring 2019 Cumulative Update (version 14).

[2019-10-11 17:42] ajkauffmann opened #5350 "TextBuilder.AppendLine() doesn't result in line breaks in the web client"
**Describe the bug**
The TextBuilder.AppendLine should add a line break at the end of a line. But when you create a message to be displayed to the user, the web client doesn't show any line breaks.

**To Reproduce**
Code to reproduce the behavior:

[code]

**Expected behavior**
AppendLine() should result in line breaks when the resulting message is displayed in the web client.

**Screenshots**
If

[2019-10-11 21:22] DragonMrak opened #5351 "SetFilter with pipe on Enum field yields empty dataset"
**Describe the bug**
When using SetFilter(Field, FilterExpression) on the field of type Enum while FilterExpression contains several Enum values separated with pipe, it won't yield any results even if it should be.

**To Reproduce**
Steps and to reproduce the behavior:
1. Create new AL project
2. Create Enum object for testing:
[code]
3. Create list table for tests:
[code]
4. Create test page:
[co

[2019-10-13 05:07] lvanvugt opened #5352 "Rename Symbol is now working right on field names with spaces"
Working with AL Language extension 4.0.182565

Wanting to name a field the _Rename Symbol_ (F2) was not doing what it should do when the field name contains spaces. Two scenarios:

1. Selecting the field with spaces (not including the quotes), f.e. _Qty. per Day,_ and pressing F2 will only show the last part of the field name in the editable dropdown textbox, i.e. _Day_. Adding a suffix _ASD_ to D

[2019-10-13 09:22] ashishsharmanav commented on #5253
Hi @MatDDev , apologies for replying late. My issue was i couldn't download the symbols at all. Following are the steps i performed after downloading the latest version.

Powershell:
1.	Delete old symbols files if needed
Unpublish-NAVApp -ServerInstance $serverInstance -Name "System"
Unpublish-NAVApp -ServerInstance $serverInstance -Name "Application"
Unpublish-NAVApp -ServerInstance $serverInstan

[2019-10-13 10:27] atoader commented on #5199
@tomasevicstefan the wave 2 2019 release is now available via public docker images. Please let us know if you can reproduce it on an image from that release.

[2019-10-13 11:21] atoader commented on #4916
@AntonInckle the issue has been fixed in the latest CUs of the 2019 Spring release. If you are still encountering this problem on older releases, please open a request for hotfix following the standard process.
You can find further guidance in our FAQs: https://github.com/Microsoft/AL/wiki/Frequently-Asked-Questions#i-found-an-issue-in-a-version-of-the-product-that-is-not-the-latest-what-do-i-do

[2019-10-13 11:21] #4916 closed

[2019-10-13 11:25] atoader commented on #4159
@attieretief this item is in our backlog, but I cannot give an estimate on when this will be available.
@DanielGoehler the VSIX contains binaries that run both on the full .NET Framework and on .NET Core.

[2019-10-13 11:26] atoader commented on #5314
@lakmalrhm on versions older than the 2018 Fall Release, you should use C/AL and AL side by side. Your best option is to code the functionality that uses .NET interop in C/AL and expose a wrapper that can be called from AL.

[2019-10-13 11:29] atoader commented on #1493
@fvet with the removal of the Windows Client, it will not be possible to re-enable this functionality. We will provide guidance on how you can use local client functionality with a cloud installation of BC.

[2019-10-13 11:30] attieretief commented on #4159
@atoader thanks...I'll keep an eye out for it

[2019-10-13 11:35] atoader commented on #5078
@kfuglsang what version are you using? can you provide code to reproduce the issue?

[2019-10-13 11:39] atoader commented on #600
@vjekob this should be fixed in the Wave 2 2019 release.

[2019-10-13 11:39] #600 closed

[2019-10-13 11:40] atoader commented on #2121
@hemisphera this functionality is available starting with the wave 2 2019 release. Please try it out and let us know what you think.

[2019-10-13 11:40] #2121 closed

[2019-10-13 11:42] atoader commented on #3616
Hi @robertosb ! This functionality is available starting with the 2019 Spring release. See https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-retaining-data-after-publishing for more information.

[2019-10-13 11:42] #3616 closed

[2019-10-13 11:44] atoader commented on #3824
It is not possible at the moment to select a running session, but it is possible to break on the next session: https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-attach-debug-next
We are looking into enhancing the debugging experience in the future.

[2019-10-13 11:44] #4209 closed

[2019-10-13 12:26] SteveKrisjanovsD365 commented on #1493
@fvet in the year since I last posted, I've abandoned .net entirely and moved to http rest calls.

It's more overhead since I have to write additional middleware than I used to but that is the price to pay for SaaS.

As for calling client functionality from the cloud, I use a combination of http rest and websockets.

E.g.

[BC SaaS] >> http rest >> [custom http middleware] >> websocket message >>

[2019-10-13 16:24] hvogelpohl commented on #4791
I fixed the link

[2019-10-14 02:26] dyepri opened #5353 "Installing and uninstalling published add-on extensions - API not working"
**Describe the bug**
Install and Uninstall extensions using API does not working on the standard business central.
Error Returned from API: {
    "error": {
        "code": "BadRequest_ResourceNotFound",
        "message": "Resource not found for the segment 'extensions'.  CorrelationId:  8189f5d8-0060-44f5-a2ee-a96cbf74622b."
    }
}

**To Reproduce**
Steps and to reproduce the behavior:
1. Using

[2019-10-14 04:43] IvoMol commented on #5352
In my experience: Before pressing F2, you must position cursor at first word of filed name, before first space (i.e. "Qty.)

[2019-10-14 08:36] qutreson commented on #5352
@lvanvugt, thank you for reporting this issue. As we already have an issue tracking it: #498, I am closing this one as duplicate, feel free to contribute there.

[2019-10-14 08:36] #5352 closed

[2019-10-14 08:43] lvanvugt commented on #5352
Great. Had been trying to find an existing bug, but could not find it. #498 is quite old though. The issue is becoming a nuissance, so I would like to know how to get this higher on the backlog?

[2019-10-14 09:01] jbakach opened #5354 "Excessive Microsoft.Dynamics.NAV.EditorServices memory usage. Is that normal?"
**Describe the bug**
Excessive Microsoft.Dynamics.NAV.EditorServices memory usage

**To Reproduce**
When I go to Windows Task Manager, I see a huge memory consumption on the process.

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/3531482/66740075-7cdc3700-ee72-11e9-9f19-e50caf674cf2.png)

**5. Versions:**

 - AL Language: 4.0.182565

 - Business Central:

[2019-10-14 09:04] jbakach commented on #5347
Hi @qutreson don't know why but these errors shown on the screenshoot have dissapeared suddenly.

I close this issue, because I can't reproduce it again. If so, I'll update this issue.

Thanks for your response and help @qutreson.

Best regards,

Jamal Bakach.

[2019-10-14 09:04] #5347 closed

[2019-10-14 09:19] chaouachi-ayoub commented on #5346
Hello, I upgraded to the latest cumulative update 14.5 the database ,and now i have another issue

Type: System.InvalidOperationException Message: Table OAuth 2.0 Setup ::  Unsupported field change. Field:Access Token Due DateTime; Change:Remove
when trying
Sync-NAVApp -ServerInstance BC150 -Tenant default -Name "Base Application" -Version 15.0.36560.36649

[2019-10-14 10:39] atoader commented on #5354
@jbakach is that ~350 MB? It seems to be in line with expectations.
What is the size of your project? Do you have code analysis enabled? What analyzers do you have enabled?

[2019-10-14 11:28] jbakach commented on #5354
Hi @atoader deeping on this issue, I found a pattron:

My project is 9,52 MB:

I have 1 instance of VS Code:

Without publishing the extension it consumes the following;

![image](https://user-images.githubusercontent.com/3531482/66747507-05fc6980-ee85-11e9-9d83-affc035178dd.png)

Once I publish...
![image](https://user-images.githubusercontent.com/3531482/66747571-275d5580-ee85-11e9-8494-bc49f456

[2019-10-14 12:13] atoader commented on #5354
Hi! The source will be read into memory and the state will be maintained in memory for the duration of the process. The memory will not be freed until the .NET GC decides it needs to do so and even then, certain artifacts, are cached and kept in memory so that later compilations can be faster.
You can learn more about how this works internally by reading about the architecture of the Roslyn compil

[2019-10-14 12:13] #5354 closed

[2019-10-14 13:11] crraita commented on #5353
Hello @dyepri,

I think the problem you came across happens because when constructing the URL, you are using the App Id instead of the Package Id of the extension you are trying to install.
The correct way to do it is:

'https://api.businesscentral.dynamics.com/v2.0/{environmentName}/api/microsoft/automation/v1.0/companies({companyId})/extensions(**{packageId}**)/Microsoft.NAV.install' .

If unsur

[2019-10-14 14:51] thpeder commented on #5351
Hi @DragonMrak,

Thanks for reporting the issue!
I just tried reproducing the issue using your code, but in both cases the page that opens have entries for the enum values. However I have a slightly newer build than you, so you might just have to wait for next update.
In the meantime, you can give it a try on the latest developer preview to verify too that the issue is resolved, or open a new issu

[2019-10-14 14:51] #5351 closed

[2019-10-14 21:03] haemi256 opened #5355 "standard table and extension table"
In a project we have implemented an extension table for the Item Table. Using an external tool, our customer wants to query the data from both tables simultaneously. Basically this could be solved with a data item link (Join SQL Query, Query...). But it is not clear which of the tables is the standard and which is the extension.

In the pages it is no problem to add fields from the extension table

[2019-10-15 04:10] lgtrrez opened #5356 "Using variable for field, Visible = false: value not shown when added thru personalization."
**Describe the bug**
I have a sub-page containing multiple fields sourced from variables, some of them have the visible property set to false, but values are assigned for all (visible and not visible) at the same time and from the same source (for simplicity here). The fields set with Visible=false don't show their values when made visible thru personalization for the first time, once visible, the

[2019-10-15 07:58] Sven-Niehus commented on #5262
I was able to start the "preLaunchTask" with a click on the green arrow in the debug window

![Green Arrow In Debug Window](https://i.imgur.com/JDk02i8.png)

The downside of this workaround is that the app is no longer being build.

I think that the reason that this workaround is working is because it uses VS Codes own Debugging mode. As you can see in the following screenshot pressing F5 while th

[2019-10-15 08:12] thpeder commented on #5356
Hi @lgtrrez,
Thanks for the excellent issue.

This is an edge case that we didn't end up fixing and is an unfortunate side-effect of trying to improve performance, since it would require it to reload/rerun the page again.
The workaround as you probably also have discovered is to navigate to the page again.

[2019-10-15 08:12] #5356 closed

[2019-10-15 08:25] thpeder commented on #5355
Hi @haemi256,
Take a look at the table "Nav App Object Metadata".

This repository no longer handles general questions and is only dedicated to bug reports for the latest preview version of the AL compiler and developer tools.

To get help for your question please use one of the following resources:
[Business Central Community](https://community.dynamics.com/business/f/758)
[mibuso forum](https://

[2019-10-15 08:25] #5355 closed

[2019-10-15 09:24] jbakach commented on #5354
Hi @atoader,

Thanks for your response and explanation.

Is there any way to only compile and check for errors when publishing or creating the package? Like we've been using within C/Side for all these years?

Thanks again for your help.

Best regards,

Jamal Bakach.

[2019-10-15 09:28] stevenoruzi commented on #5346
there is a change, a column has been removed on the new version. you should use
Sync-NAVApp -ServerInstance BC150 -Tenant default -Name "Base Application" -Version 15.0.36560.36649 -Mode ForceSync

[2019-10-15 09:32] thpeder commented on #5262
Hi @Sven-Niehus,
Have you tried adding a prelaunch task for the command AL:Package?

[2019-10-15 11:58] thpeder commented on #5284
Thanks for providing the steps and the code for reproducing the issue, it helps a lot.

[2019-10-15 12:46] qutreson commented on #5352
@lvanvugt, we understand that this issue can be a nuisance, but considering our current backlog for the next months, we unfortunately cannot promise you we will get to it or give you a timeline for when this issue will be resolved.

[2019-10-15 12:53] HennieBink opened #5357 "Could not download symbols. No published package matches the provided arguments. 14.0.0.0 failed with code NotFound. Reason: No published package matches the provided arguments."
We have upgraded the database from version 13 to version 14.

We changed in app.json
  "platform": "14.0.0.0",
  "application": "14.0.0.0",

After that we get an error below.

[2019-10-15 14:40:29.32] Using reference symbols cache path: --\./.alpackages
[2019-10-15 14:40:29.32] Sending request to http://localhost:7049/--/dev/packages?publisher=Microsoft&appName=Application&versionText=14.0.0.0
[20

[2019-10-15 13:29] qutreson commented on #5313
@JuricaB, closing this issue as it has been fixed in our latest preview builds from master (version 5.0.0 and above) and for 15.x (from version 4.0.186154 and above). The fix will also be available in the next update of the AL extension in the marketplace.

[2019-10-15 13:30] #5313 closed

[2019-10-15 13:47] ginopack commented on #4265
@atoader I too am having the same issue, and raised it to Microsoft a few days ago. Here is our issue:

We created a table extension for the contact table (5050) and added fields:
     -One field we created 50100 “Shipping Documents” type Boolean.
We created a table extension for the vendor table (23) and added fields:
     -One field we created 50100 “Last Date/Time Modified” type DateTime.

Now

[2019-10-15 14:14] rdebath commented on #5357
What are the version numbers of the "app" packages that you successfully download?
If they are 13.X.X.X you are connecting to a V13 service tier; you need to point your `launch.json` at a version 14 service tier with v14 Cronus data.

[2019-10-15 14:40] rdebath commented on #5313
I can reproduce this in the latest preview; but that's over two weeks old.
When is the `bcsandbox-master` going to be starting up again then?

Should this be @freddydk ?

[2019-10-15 14:44] qutreson commented on #5313
@rdebath, which is the version of the AL extension that you are getting from the container?

[2019-10-15 14:52] rdebath commented on #5313
In the Run directory: al-4.0.176004.vsix
In the 150/AL Dev: Identity Language="en-US" Id="al" Version="4.0.176004"
Microsoft.Dynamics.Nav.Server.exe version: 15.0.36510
Docker images version: 15.0.36560

[2019-10-15 15:07] rdebath commented on #5357
You're probably better off using a V14 later than the RTM, There was a nasty problem with that version. (IIRC).

Ah, I see a database upgrade. You need to upgrade the extensions in the database too.
Including both of the "symbols only" extensions that you're downloading.

[2019-10-15 15:25] navaddict opened #5358 "Reference to object User is ambiguous (AL0265) / Table 'User' is missing (AL0185)"
**Describe the bug**
local BC150 setup and working however I receive the error shown in the screenshot throughout the AL code, whenever 'User' is referred to.

I have checked the BaseAppSource folder in the Installation Media and the User table is missing - could this be the problem (all virtual tables missing in fact) and if so how can I solve it?

**To Reproduce**
Steps and to reproduce the beha

[2019-10-15 15:26] thpeder commented on #5052
Hi @DigiTecKid,
We have seen this issue before but weren't able to successfully reproduce it.
Is this still an issue for you?

[2019-10-15 15:26] louagej opened #5359 "Debug production environment with Office 365 Authentication"
Our Customer has a BC Onprem installation.
The NST and users authentication has been setup with AAD and Office 365.

![image](https://user-images.githubusercontent.com/7229592/66845728-dc207100-ef70-11e9-8ec2-d9196397f37c.png)

![image](https://user-images.githubusercontent.com/7229592/66844855-5819b980-ef6f-11e9-9fd8-b643030a1b08.png)

But we're unable to connect to this server with VSCode for de

[2019-10-15 17:26] DigiTecKid commented on #5052
Same error, New Version:

Version: 1.39.1 (user setup)
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:31:28.683Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-10-15 17:55] DigiTecKid commented on #5052
Just an FYI.  The error happens even before I specify the server...
![image](https://user-images.githubusercontent.com/38542883/66856526-66f27300-ef53-11e9-8de1-e5a029e68c3d.png)

[2019-10-15 19:36] HennieBink commented on #5357
I've upgraded to V14 CU05. First removed V14 and a fresh install of V14 CU05. Database converted and reinstalled the apps.

Problem is not solved unfortunately.

When using version 13 in app.json the symbols will download but not when I use version 14.
"platform": "13.0.0.0",
"application": "13.0.0.0",
"runtime": "3.0"

In this case we now get the following symbols:
Microsoft_Application_13.2.2655

[2019-10-15 19:39] atoader commented on #5359
Hi! Thank you for raising this issue. As mentioned in our online documentation https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-json-files
[code]
Please post this to our Ideas forum at https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. We're constantly monitoring top Ideas and will consider them for a future release.

[2019-10-15 19:39] #5359 closed

[2019-10-15 19:41] atoader commented on #5358
Hi! Can you please provide a sample extension to reproduce this issue? What other packages are you referencing?
Please specify the exact version of the product and of the extension that you are using. "latest" does not have the same meaning for all our users.

[2019-10-15 19:44] atoader commented on #5357
Hi! @HennieBink are you using C/SIDE side-by-side development? Have you updated the application version while performing the technical upgrade? If you are not doing side-by-side development, have you updated the application symbols published to your service?

[2019-10-15 20:34] HennieBink commented on #5357
Hi @atoader, We use C/SIDE side-by-side development. We have generated the symbols using

finsql.exe Command=generatesymbolreference, Database=<DatebaseName>, ServerName=<ServerName>\<Instance>
See: https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-running-cside-and-al-side-by-side

No errors (no naverrorlog.txt is created).

I'm not sure what you mean by "Ha

[2019-10-16 00:19] dyepri commented on #5353
Hi @crraita,

This works like a charm. Thanks. Anyways it would be nice if we can ask to update the documentation from microsoft to change the api docs from {extensionId} to {packageId} in order for us to understand it well.

Cheers, dyepri

[2019-10-16 06:23] Sven-Niehus commented on #5262
Hi @thpeder,

Can you elaborate?

I added the preLaunchTask in the launch.json (as you can see in my first post [first post](https://github.com/microsoft/AL/issues/5262#issue-490918310)) in this thread.

Or are you talking about adding the `AL: Package` command to my task? I don't know how I could add a command from VS Code to my task.json. The [documentation ](https://code.visualstudio.com/docs/e

[2019-10-16 06:54] atoader commented on #5357
When doing side-by-side development, the version of the application symbols are taken from the application version set in the database (applicationversion column in the dbo.$ndo$dbproperty table) . If this is set to 13.0.0.0, and you are trying to download application symbols 14.0.0.0, you will get an error saying that the symbols are not found.
You can use https://docs.microsoft.com/en-us/powersh

[2019-10-16 07:09] hydhart opened #5360 "Error Reference when creating variable"
hello,

i got an issue, i have 3 reports and each of them use tempblob codeunit to create a file.
however, after the second reports, when i declare the var tempblob, the error show up.

![image](https://user-images.githubusercontent.com/41423177/66895922-0bd98280-f01e-11e9-8976-93094f1f71f4.png)

now the 3 reports i have got the same error.

and also all the function in this codeunit cannot called

[2019-10-16 07:18] hydhart commented on #5360
i use Business Central 2019 Release Wave 2.W1.36649 on my local to create this extension.

[2019-10-16 08:27] Malte-Petersen opened #5361 "Error when creating package: System.NullReferenceException"
After creating a new PageExtension for an existing app I got this error when trying to create the Package or Publish from VS Code.

[code]

I copied the Al project folder to seperate the current development from the already existing version. In other AL Projects I am still able to create the package.

[2019-10-16 08:35] thpeder commented on #5262
I haven't used this feature myself I just thought that there were a way to call a command defined in VSCode, but I can't find it either.

[2019-10-16 08:37] navaddict commented on #5358
Hi, I can't provide a sample extension as the second I reference any of the 'virtual tables' (ie. ID = 2000000004 or greater) I get the error and it will not compile.  I'm not referencing any other packages (well except for MS Base and MS System of course).

To prove this I just created a new AL project containing only a very simple table with one field that has a TableRelation to AllObj and the e

[2019-10-16 08:48] thpeder commented on #5191
Thanks for reporting the issue!
I have reproduced the issue and it is indeed a bug.

[2019-10-16 08:59] HennieBink commented on #5357
Great! This does the trick for the application version.

Following PS-script gives: ApplicationVersion **13.0.26413.0**

Import-Module "${env:ProgramFiles}\Microsoft Dynamics 365 Business Central\140\Service\Microsoft.Dynamics.Nav.Management.psd1"-Force
**Get-NAVApplication -ServerInstance _[ServerInstance]_**

Following PS-script sets ApplicationVersion to **14.0.36463.0**

Import-Module "${env:P

[2019-10-16 09:02] navaddict commented on #5358
Solved it!

I took out the MS System dependency and left only the Base dependency and this resolved it :)

Seems V15 doesn't need System?

[2019-10-16 09:06] atoader commented on #5358
That app.json has the answer :).
"platform" and "System" are the same object, you are basically referencing the package twice.
There is some confusion generated by the fact that we now have "System.app" which contains the system and virtual tables and the "System Application" which contains platform-like functionality.

Does that make sense?

[2019-10-16 09:11] martonnagy commented on #5191
Cool, thanks for letting me know.

[2019-10-16 09:20] crraita commented on #5353
Sure ! 👍
Thanks, dyepri!

[2019-10-16 09:20] #5353 closed

[2019-10-16 09:28] thpeder commented on #5152
Hi @Zee980

Sorry for letting you wait and thanks for the repro steps, but let's get the issue to a team who will fix and backport it, as this repository is only for issues related to the AL compiler in latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from

[2019-10-16 09:28] #5152 closed

[2019-10-16 09:45] thpeder commented on #5052
When you use AL:Go does the the path starts with \Users\... and if so could you try prefix with the system drive letter so it becomes something like C:\Users\....

[2019-10-16 09:52] atoader commented on #5357
For the System.app that contains the system tables and codeunits, you will need to use Unpublish-NavApp to unpublish the existing symbols and Publish-NavApp to publish the new System.app for that platform version.
You can find the new System.app on the DVD.

[2019-10-16 10:13] navaddict commented on #5358
All good :)

[2019-10-16 10:13] #5358 closed

[2019-10-16 11:04] thpeder commented on #5360
Hi @hydhart,
I'm not able to reproduce the issue, would it be possible for you to cut down you extensions to the bare minimum that reproduces the issue and upload that extension here on Github.
Thanks

[2019-10-16 11:06] thpeder commented on #5361
Hi @Malte-Petersen,
Which version of the AL language Extension are you running?

[2019-10-16 11:14] Malte-Petersen commented on #5361
AL Langauge 0.12.28462

I tried the current AL Langauge which was enabling me to create the package but not publish it.

However, I found the issue, I think.

On the page extension I had to add several actions and those had the property RunPageLink.
It seems that it does not work to write something like this:

`RunPageLink = "Document Type" = FIELD ("Document Type"),

[2019-10-16 11:15] #5361 closed

[2019-10-16 11:31] thpeder commented on #5057
Hi @stefanoPrimo,

[UICop Rule AW0006 ](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/analyzers/uicop-aw0006-useusagecategoryproperty) is there to make sure a page or report is searchable.
I think what you are looking you can find in the [PerTenantExtensionCop Rule PTE0008](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/analyze

[2019-10-16 12:01] atoader commented on #5360
@hydhart what packages do you have in your package cache path for this project?

[2019-10-16 12:09] sergiogp1 commented on #5030
Hi, I have the same problem.

I'm trying to do a function to validate fields and log validate errors, but I don't want to pass a specific record as parameter, that's why I use a Variant as VAR parameter. This is my code:

[code]

That's why I have to define my procedure as:

`procedure ValidateFieldRecord37(VAR rcdSalesLine: Record 37; FieldNo: Integer)`

[2019-10-16 12:48] thpeder commented on #5203
Hi @LFlamme,

If you are having a XmlNode you don't know for sure that it is a XmlElement, but you can check with IsXmlElement as you said as well. In cases where you still want to get the name or value then you need to check for the other types and cast it to the correct one.
If you would like to have that on the XMLNode, then header over to [Ideas](https://aka.ms/BusinessCentralideas) and either

[2019-10-16 12:48] #5203 closed

[2019-10-16 13:24] DmitryPozhilov opened #5362 "Dynamics 365 Business Central Wave 2: customizing the Base Application Error"
**Describe the bug**
Error during  Publish-NAVApp: Publish-NAVApp : Extension compilation failed

**To Reproduce**
Steps and to reproduce the behavior:
1. Get Docker container mcr.microsoft.com/businesscentral/onprem:ru.
2. Export Base Application Create-AlProjectFolderFromBcContainer.
3. Open VS Code, made some modifications.
4. Put "C:\Windows\Microsoft.NET\assembly\GAC_MSIL\Microsoft.Office.Too

[2019-10-16 14:35] Rub19Luc21 opened #5365 "Visibility of override arguments in methods from Visual Studio Code"
Could you please improve the visibility of override arguments in a method?
A good example is the new method ToBase64() of the "Base64 Convert" codeunit.

The visible parameter for this method is a Text variable.
This is the only visible parameter in Visual Studio Code:
![image](https://user-images.githubusercontent.com/44872320/66928871-56fd9080-f032-11e9-8590-51223d9710a7.png)

So after hours of

[2019-10-16 14:36] HennieBink commented on #5357
Thanks @atoader! Problems are solved!

**Problem 1: Missing some references in Side-by-side developement**

**Solution: Generate Symbols with following batch-script (repeat after changes in C/AL)**
finsql.exe Command=generatesymbolreference, Database=, ServerName=<Instance>

See: https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-running-cside-and-al-side-by-s

[2019-10-16 16:02] yrest commented on #5191
I presume this is 14 Marton?

[2019-10-16 16:07] martonnagy commented on #5191
yes, we've found this on the 25th of July...we haven't tested in V15 though
Do you want us the test this in V15 @thpeder ?

[2019-10-16 18:34] atoader commented on #5362
Thank you for reporting this issue! What happens if you copy the dll in one of the folders in the probing paths inside the Docker image and then restart the NST? Does publishing succeed in this case?

[2019-10-16 18:52] LoanVision opened #5363 "FilterBuilder doesn't respect filters defined on table"
Hello,
looks like in BC when building FilterBuilder system is not respecting filters defined on table fields.

[code]

As a result Global Dimension 1 Code and Global Dimension 2 Code has lookup to all dimension values regardless of what Global Dimension No. is defined on Item table.

<img width="724" alt="Screen Shot 2019-10-16 at 2 53 08 PM" src="https://user-images.githubusercontent.com/45673357

[2019-10-16 20:21] qutreson commented on #5363
@LoanVision, can you add which version of the AL extension and of Business Central you are using? Also can you describe what would be the expected behavior for this issue and share with us a full code snippet that we could use in order to easily reproduce this issue?

[2019-10-16 20:46] LoanVision commented on #5363
It's wave 2 version (Release), 15.0.36510 NA version (Cronus DB, no changes)
AL: 4.0.182565

**Steps to reproduce:**
1 - Create page and replace with code:

`page 50000 TestIssue
{
    PageType = Card;
    ApplicationArea = All;
    UsageCategory = Administration;

    trigger OnOpenPage()
    var
        Item: Record Item;
        fb: FilterPageBuilder;
    begin
        fb.AddRecord(Item.TableNa

[2019-10-17 02:23] nzcraig opened #5364 "A package with publisher 'Microsoft', name 'Test', and a version compatible with '15.0.0.0' could not be found in the package cache folder 'c:\Users\xxxxx\Documents\AL\My Extension Testing\./.alpackages'"
**Describe the bug**
I am using a docker container and running 15.0.36560.0. I am following the instructions here...

[https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-extension-advanced-example-test#writing-the-tests](url)

...and am trying to develop tests for my extension.

In the app.json I have added my extension details as a dependency and then added `

[2019-10-17 06:56] thpeder commented on #5364
This seems like an issue with the docker image.
I'm transferring it to the NavContainerHelper repository.

[2019-10-17 08:43] kfuglsang commented on #5078
I'm on 14.0.29530

It's easy enough to reproduce by simply:
- Enable loading application symbols at server startup
- Create a dummy codeunit 50000 in C/AL while finsql is in generatesymbolreference=yes (this step seems to discard symbols of the virtual tables)
- Reference any virtual table from an AL extension and try to compile it

[2019-10-17 08:58] thpeder commented on #4791
Thanks for reporting the issue,
We have had some fixes around xmlports in version 15 which might have resolved the issue since I just tried reproduce it both with the code from @hvogelpohl repository and by trying to split the code into two extensions but it worked just fine in both cases.

@hvogelpohl could you please test it on the latest developer preview and check if it is actually fixed.
Than

[2019-10-17 09:04] thpeder commented on #5354
Hi @jbakach,

If you just want to compile the code into an .app file and it doing that check for errors then you can use alc.exe from Powershell.
alc.exe can be found in the VSCode extension.

[2019-10-17 09:15] demiliani commented on #4265
Possible workaround (alias, implementation of a "safe" TRANSFERFIELDS):
https://demiliani.com/2019/10/17/dynamics-365-business-central-transferfields-and-obsolete-fields/

[2019-10-17 09:25] DmitryPozhilov commented on #5362
Hello Alexandru,Thank you very match, it's work.I didn't expect such
behevior.

Can I influence the search paths for .net assemblies that the
Publish-NAVApp function uses (pass some parametrs)?

ср, 16 окт. 2019 г. в 21:34, Alexandru Toader <notifications@github.com>:

[2019-10-17 10:04] jwikman opened #5366 "AppSourceCop throwing exceptions in app.json"
**Describe the bug**
AppSourceCop are throwing a lot of NullReferenceExceptions in app.json (41 exceptions for my current project)
They all seems to come from two rules:

- 'Microsoft.Dynamics.Nav.AppSourceCop.Upgrade.RuleDestructiveTablePropertyChangesNotAllowed'
- 'Microsoft.Dynamics.Nav.AppSourceCop.Upgrade.RuleDestructiveTableFieldPropertyChangesNotAllowed'

Exceptions:
[code]

I just realized

[2019-10-17 10:24] charlespockert opened #5367 "Cannot download symbols for v15.x"
**Describe the bug**
Attempting to download symbols from any sandbox running v15 fails.

System symbols are downloaded successfully, application symbols are not.

[code]

I have D365 Extension Management permissions.

V15 is definitely installed as I have checked the extension management page and the application extension is present.

I've tried with all major version numbers (1 through 20 just in

[2019-10-17 12:02] thpeder commented on #5366
Hi @jwikman,
The easiest for us is if we can get our hands on an extension that reproduces the issue otherwise we can end up spending a lot of time searching for the issue.
So please provide a zip file with all there is needed to reproduce the issue.

We do have some changes in the AppSourceCop coming in the next release, so hopefully it is fixed there.

[2019-10-17 12:44] atoader commented on #5367
Hi! The "application" symbols have been replaced by actual extensions.
If you use AL Go! and select the 4.0 target runtime, you will get a app.json that has the correct dependencies.

[2019-10-17 12:50] jwikman commented on #5366
@thpeder, can I send you a zip as a private message or mail somewhere?
I don't have a small repo, it's our full AppSource app...

[2019-10-17 12:58] stefanoPrimo commented on #5057
hi @thpeder
yes, sorry, I was looking exactly to PerTenantExtensionCop Rule PTE0008

[2019-10-17 13:06] bvbeek commented on #5268
Any news on this?

[2019-10-17 13:27] Rathnakmr opened #5368 "Deploy Extension is not working in sandbox"
Hi Team,

I am developing new extension in "3.0 Business central Spring 19 Release". Here i am developing under the range of 50000...series only. The package build sucessfully and when i am publishing directling from visual code using "ctrl+F5".
The message coming successfully published to the server, but when I am checking in sandbox extension its not available.
Right now I am using only upload e

[2019-10-17 13:41] charlespockert commented on #5367
Ah thanks, that makes sense - I couldn't find any literature on the new changes.

I was trying to download symbols for an existing extension but I retrofitted my app.json with the deps and it's all working now.

[2019-10-17 13:41] #5367 closed

[2019-10-17 13:52] atoader commented on #5362
Hi! You cannot influence the search paths, but you can add DLLs in the existing probing paths.

[2019-10-17 14:17] TomTaffin commented on #5159
Same issue here.  Do you guys know of any workaround?  Looping I guess? :-)

[2019-10-17 16:55] boych83 commented on #3824
Is there any option to set breakpoint and debug-next, if you don't have source files in vscode?
e.g. just with "AL Go! project" with attach configuration in launch.json ?

[2019-10-17 19:05] Rathnakmr opened #5369 "Not able to deploy the old extension after modify"
Hi Team,

I am getting the below error while deploying the extension in sandbox. I am modifying an old extension and then uploading its getting failed.

Please give your suggestion.

Error Msg:
Deployment failed. Errors: App ID : c8081857-e44d-4dce-929e-4ab1bfb3d77b Message : { The extension is not available for your release. Check the country and version availability in the extension marketplace.

[2019-10-18 08:25] atoader commented on #5369
Hi! This repository no longer handles general questions and is only dedicated to bug reports and feature suggestions for the AL compiler and developer tools.

You can find more information here https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-deploy-tenant-customization .
Is the extension you are trying to publish an extension that has been published to AppS

[2019-10-18 08:26] atoader commented on #5368
Hi! This issue concerns a production system. This repository is only for issues related to the AL compiler and developer tools of the latest developer preview environment for Dynamics 365 Business Central and we cannot guarantee a timely resolution of your issue.
We suggest that you open a support case and work with our customer support team to gather all the information necessary to fix this prob

[2019-10-18 08:36] atoader commented on #5369
As this issue concerns a production system we suggest that you open a support case and work with our customer support team to gather all the information necessary to fix this problem.

To open a support case, you can:
- Open a support request to CSS through the PartnerSource portal
- Contact your Service Account Manager (SAM) in your local subsidiary to understand what is included in your contract

[2019-10-18 08:36] #5369 closed

[2019-10-18 08:36] #5368 closed

[2019-10-18 08:36] tsomb commented on #3618
This error can also be caused, if anything is wrong with the references of the corresponding application object.

I got the same error for a page object. In my case the reason for that was an action pointing to that page object by using RunObject. The action also contained the Image-property using the following form:
Image = New();
Of course, the trailing parenthesis are wrong. Believe it or not:

[2019-10-18 08:44] #4287 closed

[2019-10-18 08:50] IvoMol opened #5371 "Unused variable in property (AA0137)"
**Describe the bug**
Code Analyzer is generating warning AA0137, though variable is used in property (not in code).

**To Reproduce**
1. Create global variable
        NewCaptionTxt: Label 'New ';
2. Use this variable in table field property:
        field(45; "New Shortcut Dimension 1 Code"; Code[20])
        {
            CaptionClass = '1,2,1,' + NewCaptionTxt;
            Caption = 'New Shortc

[2019-10-18 08:51] qutreson commented on #5346
Hi @chaouachi-ayoub, this behavior is by-design as we do not allow destructive table changes with the default synchronization mode. You can either use -Mode ForceSync as suggested or you should consider re-introducing the element removed with the property ObsoleteState set to Removed. For more information, you can read #1499

[2019-10-18 08:51] #5346 closed

[2019-10-18 08:54] qutreson commented on #5371
Hi @IvoMol, thank your for reporting this issue. I am closing it as this looks like a duplicate of #5341. Feel free to contribute on the issue linked.

[2019-10-18 08:54] #5371 closed

[2019-10-18 08:54] nicolassaleron commented on #5292
Hello,
Not sure the bug is totally fixed.

I tried with the latest AL Language extension I found on insider (4.0.182565).

The same error occurs when you try to compile a app with the AppSourceCop enabled.
It seems related to the feature that compares a previous version of the package (in that case a package compiled for BC14) to get breaking changes errors.

AppSourceCop.json :
{
    "name": "MyA

[2019-10-18 09:08] thpeder commented on #5365
Hi @Rub19Luc21,
As you discovered, when you see the list of procedures you can't see that there are more overloads, but as soon as you picked the method you can navigate through the different overloads.

Go ahead and post your idea to our Ideas forum at https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. We're constantly monitoring top Ideas and will consider them for a

[2019-10-18 09:08] #5365 closed

[2019-10-18 09:08] qutreson commented on #5292
Hi @nicolassaleron, this issue was related to the validation of event subscriber. If you can reproduce something similar with the AppSourceCop, please log a new issue including some code that we can use to investigate it.

[2019-10-18 09:22] thpeder commented on #5282
Seems related to #5350

[2019-10-18 09:38] #5114 closed

[2019-10-18 09:51] qutreson commented on #4225
Hi @JavierFuentes, can you try to reproduce this issue on the latest developer preview? If this reproduces, can you attach a small AL package that reproduces the issue?

[2019-10-18 09:53] qutreson commented on #4612
Hi @larswestman, can you try to see if this still reproduces on the latest developer preview?

[2019-10-18 09:58] qutreson commented on #5307
We can now reproduce this issue based on the code provided above. The AL code compiles, but fails at runtime.

[2019-10-18 12:30] thpeder commented on #5366
This issue is fixed in the next update.

[2019-10-18 12:30] #5366 closed, assigned to nobody

[2019-10-18 14:49] Rathnakmr commented on #5368
Thanks for the time, I will proceed with support team.

[2019-10-18 14:51] #4989 closed

[2019-10-18 14:54] atoader commented on #4998
Let's get the issue to a team who will fix and backport it, as this repo is only for issues related to the latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a support request to C

[2019-10-18 14:54] #4998 closed

[2019-10-18 14:58] atoader commented on #5103
Hi! This change is by design. The AL compiler has changed how parameters are named in the emitted metadata. Changing this at this point in time would break existing consumers.

[2019-10-18 14:58] #5103 closed

[2019-10-18 15:05] atoader commented on #5120
@Tonygithub17 sorry for getting back to you so late. As you have automatically labelled this issue or used the wrong template, we did not triage it.
Were you able to get around this problem?

[2019-10-18 15:05] atoader commented on #5150
Let's get the issue to a team who will fix and backport it, as this repo is only for issues related to the latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a support request to C

[2019-10-18 15:05] #5150 closed

[2019-10-18 15:06] atoader commented on #5160
Hi! This repository no longer handles general questions and is only dedicated to bug reports and feature suggestions for the AL compiler and developer tools.

To get help for your question please use one of the following resources:
[Business Central Community](https://community.dynamics.com/business/f/758)
[mibuso forum](https://forum.mibuso.com/categories/nav-three-tier)
[Dynamics User Group](htt

[2019-10-18 15:06] #5160 closed

[2019-10-18 15:06] #5180 closed

[2019-10-18 15:06] atoader commented on #5180
I am closing this issue because it appears that it has been resolved. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:08] atoader commented on #5232
Let's get the issue to a team who will fix and backport it, as this repo is only for issues related to the latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a support request to C

[2019-10-18 15:08] #5232 closed

[2019-10-18 15:12] atoader commented on #5308
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:12] #5308 closed

[2019-10-18 15:16] atoader commented on #4986
@SandipDomadiya we believe this issue has been resolved in the Wave 2 2019 release. Could you please confirm?

[2019-10-18 15:18] atoader commented on #5134
This issue seems to be related to your particular license and unfortunately we cannot help you on this forum.
We suggest that you open a support case. To open a support case, you can:
- Open a support request to CSS through the PartnerSource portal
- Contact your Service Account Manager (SAM) in your local subsidiary to understand what is included in your contract as of support incident and PAH (P

[2019-10-18 15:18] #5134 closed

[2019-10-18 15:20] atoader commented on #5135
Hi! Are you still encountering this issue? Did you find a workaround?

[2019-10-18 15:21] atoader commented on #5305
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:21] #5305 closed

[2019-10-18 15:21] atoader commented on #5304
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:21] #5304 closed

[2019-10-18 15:22] atoader commented on #4726
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:22] #4726 closed

[2019-10-18 15:22] #4939 closed

[2019-10-18 15:23] #5327 closed

[2019-10-18 15:23] atoader commented on #4548
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:23] #4548 closed

[2019-10-18 15:24] atoader commented on #4646
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:24] #4646 closed

[2019-10-18 15:24] atoader commented on #4650
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:24] #4650 closed

[2019-10-18 15:24] atoader commented on #4761
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:24] #4761 closed

[2019-10-18 15:25] atoader commented on #5324
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:25] #5324 closed

[2019-10-18 15:25] atoader commented on #4981
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:25] #4981 closed

[2019-10-18 15:26] atoader commented on #4191
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:26] #4191 closed

[2019-10-18 15:26] atoader commented on #3733
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:26] #3733 closed, assigned to qutreson

[2019-10-18 15:27] atoader commented on #4507
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:27] #4507 closed

[2019-10-18 15:28] atoader commented on #5332
I am closing this issue because it appears that it has been resolved. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-18 15:28] #5332 closed

[2019-10-18 15:31] #5057 closed

[2019-10-18 17:07] NzureAdmin commented on #5324
Im sorry for the late reply.
I have not been able to reproduce lately either.

[2019-10-18 17:18] NzureAdmin commented on #5315
Thanks for looking into this everybody.✔

I have just spent five hours faffing around with a perfectly legal (and non-commented ) app.json

Ending up manually typing eight dependencies (Test-projects have many dependencies).

Testing that VS code could download the needed Symbols for each Dependency AND not hang using F5.

Still, I dont know what the problem was.

I can live with having compile an

[2019-10-19 14:37] thpeder commented on #5363
Hi @LoanVision,
I ran your code and got the following:
![image](https://user-images.githubusercontent.com/24276180/66998455-92509b80-f0d4-11e9-9db9-37fe09834c99.png)

I'm that familiar with the application, but that is the expected output, right?

[2019-10-19 17:36] kalberes commented on #3824
If you set the breakOnError or breakOnReadWrite then it should be possible to attach and break.

[2019-10-20 01:26] Tonygithub17 commented on #5120
Still waiting the solution from Microsoft how to solve this.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alexandru Toader <notifications@github.com>
Sent: Friday, October 18, 2019 11:05:36 PM
To: microsoft/AL <AL@noreply.github.com>
Cc: ALBig <tonypang@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AL] You do not have permission to in

[2019-10-20 02:18] weiyin02 commented on #2904
StanislawStempin, sorry, I really cannot understand your reply.
what is bug in the compiler? do you mean code issue, or NAV system issue?

thank you,

[2019-10-20 17:53] JavierFuentes commented on #4225
Hi @qutreson,
sorry but we are a final customer with a final customer solutions developer license that seems doesn't work with the latest v15.x OnPrem versions...

Is there any Developer Preview License we can use with Spanish OnPrem version of BC?

[2019-10-20 21:04] tfenster opened #5372 "Support "launch browser" with remote development"
**Describe the bug**
When AL runs through the remote dev extension, it fails to create a browser session for debugging. I think what happens is that it tries to run the browser on the remote host. Publishing works, but the VS Code just hangs, see the screen recording below.

Maybe this https://code.visualstudio.com/api/advanced-topics/remote-extensions#opening-something-in-a-local-browser-or-appli

[2019-10-20 22:43] boych83 commented on #3824
Ok, this is working fine.
What about setting additional breakpoints when you don't have a source code?

First you attach on break. Then, if this gets you to the right object you can set additional breakpoints on that object. Later on you can debugging with launch request (not attached) and break on that newly added breakpoints.
Otherwise you need to download symbols and run "Go to definition" on o

[2019-10-21 04:48] calcifieddeveloper opened #5373 "PromotedActionCategories / PromotedActionCategoriesML does not work as expected."
Hi,

**Describe the bug**

PromotedActionCategories / PromotedActionCategoriesML does not work as expected.

**To Reproduce**

Created a Page Extension in a container and a online Sandbox.  I have added a promoted Category but it does show with either
PromotedActionCategories = 'New,Process,Report,Bank,Prepare,Approve,Page,Post/Print,Line,Account,Cheque,NewFunction;

Or

PromotedActionCategoriesML

[2019-10-21 05:43] sainath654 opened #5374 "How to Update sales Lines using the Webservices ?"
Hello Everyone,

Using the Microsoft document (https://docs.microsoft.com/en-us/dynamics-nav/fin-graph/api/dynamics_salesorderline_update) i have created the sales line using the Postman application with POST method, but now when i am trying to update the sales line using the PATCH method in postman application i am getting the below issue.

**Error:**
{
    "error": {
        "code": "BadRequest_

[2019-10-21 06:06] qutreson commented on #5303
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-21 06:06] #5303 closed

[2019-10-21 07:22] qutreson commented on #5374
Please follow the template and provide adequate information to reproduce the issue.

[2019-10-21 07:24] thpeder commented on #5372
Hi @tfenster,
It is as you expected that the browser is opened where the compiler is running.
But what a great idea to add support for remote development in Visual Studio Code! Go ahead and post this to our Ideas forum at https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. We're constantly monitoring top Ideas and will consider them for a future release.

[2019-10-21 07:24] #5372 closed

[2019-10-21 07:26] sainath654 commented on #5374
Hello,

Below is the url i am using for the update statement.

Api.businesscentral.com:7048/DEV/ODataV4/Company('Test')/SalesOrder('SO000400557')/salesOrderLines(documentId=('SO000400556'),sequence=(10000))

Thanks,
Sainath

[2019-10-21 07:30] qutreson commented on #5373
Hi @calcifieddeveloper, can you elaborate a bit more about what you are getting in the webclient (maybe adding a screenshot?) and what you would expect to see?

[2019-10-21 08:59] kalberes commented on #5374
Let's get the issue to a team who will fix and backport it, as this repository is only for issues related to the AL compiler in latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a

[2019-10-21 09:01] #5374 closed

[2019-10-21 09:04] atoader commented on #5120
@Tonygithub17 are you able to reproduce this issue on the latest sandbox? Can you please provide the repro?

[2019-10-21 09:07] atoader commented on #5120
@Tonygithub17 I have just noticed that the issue is described in the title of the issue. I apologize for the confusion.
This is by design and we will not change it. In a multi-tenant SaaS environment, the application database is read-only.

[2019-10-21 09:07] #5120 closed

[2019-10-21 09:15] dagirard commented on #5073
Page Background Task is only working on Wave 2 2019 release of Business Central (15).

However, as the document specify, the debugger as a couple of limitation to be aware of:
https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-page-background-tasks

"
Like with other code in the application, you debug page background tasks by using the integrated debugger (see

[2019-10-21 09:15] #5073 closed

[2019-10-21 09:19] jbakach commented on #5354
Hi @thpeder, what I pretend is to only compile when I want to genere the app through VS Code.
Is there any way to prevent the error check while developing and just only check for errors when you try to generate the app?

I think that in this way the compiler will only need to check for any errors in that moment. Just like in C/SIDE.

Thanks again.

[2019-10-21 11:15] #5362 closed

[2019-10-21 11:28] dbsae opened #5375 "Control Addin is not loading the html resource"
**Need Urgent help.**

We have Control Addin in which we are loading the html resource . Below the code of files. But when we running on Business central 15 version it's giving us the an error.

**HTTP404: NOT FOUND - The server has not found anything matching the requested URI (Uniform Resource Identifier).
(XHR)GET - https://msasiseaas3331-t5kqfo.applicationservices.businesscentral.dynamics.com/

[2019-10-21 14:14] kalberes commented on #3824
Breakpoints for physical AL files should be persisted. I think this is also true for breakpoints set in a dal file.

[2019-10-21 14:19] kalberes commented on #5315
I do not see your error message on the server. But if a compilation passes locally that does not necessarily mean that it will pass on the server too.
If you have  a repro please open a new request with proper template.
This issue is for comments in the JSON files. Let's not mix things. Don't add any other comments here.

[2019-10-21 14:21] kalberes commented on #5375
This repo is no longer dedicated to handling application requests and enhancements
Instead please use the following repository: https://github.com/Microsoft/ALAppExtensions

[2019-10-21 14:26] #4372 closed

[2019-10-21 14:37] kalberes commented on #4372
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-21 14:49] AndreyKorepanov commented on #5146
Hi @stefanoPrimo. When you build the app you can find the generated xlf-file (something like "Electronic Invoice for Italy.g.xlf"). To make sure that the objects are not out of sync please compare it with the existing one "Electronic Invoice for Italy.it-IT.xlf". trans-unit id must be the same in both files. If they are not the same, just replace the old id with the correct one from g.xlf.

[2019-10-21 17:48] kalberes commented on #4423
Can you still reproduce the issue on the latest 15.X based release?

[2019-10-21 17:59] kalberes commented on #4612
This issue has been closed because it has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-21 17:59] #4612 closed

[2019-10-21 18:00] kalberes commented on #4914
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-21 18:00] #4914 closed

[2019-10-21 18:02] kalberes commented on #4957
Hi! Are you still encountering this issue on the latest 15 based docker images?

[2019-10-21 18:52] kalberes commented on #4988
The compiler is a design time concept and cannot "take care" of runtime renames of records.

Can you try reproing this on the latest docker version?
If it still reproes than maybe you should :
Go ahead and post this to our Ideas forum at https://aka.ms/BusinessCentralideas, or vote up the idea if its already there. We're constantly monitoring top Ideas and will consider them for a future release.

[2019-10-21 18:52] #4988 closed

[2019-10-21 21:38] #5375 closed

[2019-10-22 06:48] calcifieddeveloper commented on #5373
Hi,
Sure.

![image](https://user-images.githubusercontent.com/48376898/67263478-d8459f00-f4da-11e9-9046-34c95550e306.png)

I would expect if I have new promoted actions defined as Category12 that the caption should show as "NewFunction"

[2019-10-22 07:47] stijn9830 opened #5376 "Cannot open xxx page with a filter and sorting from table xxxx"
I tried to use the tables "Time Sheet header" and "Time sheet line" to make some other functionality. But when I make a header, and try to navigate to the lines, I always get the same error.
So I made new tables, familiar to the existing ones. getting the same error.
When trying to open the lines pages on the default pages: index out of bounds.

See new tables and pages attachted : always getting

[2019-10-22 08:45] AndreyKorepanov commented on #5296
Hi @larswestman, you are right it is a bug in synchronization engine. Adding a field to key is considered as a destructive change and should not be allowed when using "schemaUpdateMode": "Synchronize".

[2019-10-22 09:03] larswestman commented on #5296
Ok. But why is it consider ed a dustructive change? I agree it's breaking, but it doesn't destroy data. We can do this in c/side and I would really like to do it in AL as well.

/Lars

Den 22 okt. 2019 10:45 skrev AndreyKorepanov <notifications@github.com>:

Hi @larswestman<https://github.com/larswestman>, you are right it is a bug in synchronization engine. Adding a field to key is considered as

[2019-10-22 09:45] JonasPatto opened #5377 "AL Compiler stops working if an Event Subscriber has a wrong Element Name within"
**Describe the bug**
If you create an Event Subscriber with a wrong Element Name, the compiler won't notice that the field does not exists (so no Error) and after that the Compiler just stops working. It does not show 99% of the Warnings (e. g. our own Ruleset stops working and it only shows "deprecated" Warnings) and at the moment no Errors at all.

**To Reproduce**
Steps and to reproduce the beh

[2019-10-22 09:54] AndreyKorepanov commented on #4986
Hi @SandipDomadiya could you please attach the code sample/project demonstrating the issue? It would help us to get a repro.

[2019-10-22 09:59] qutreson commented on #5377
@JonasPatto thank you for reporting this issue. I am closing it as this is a duplicate #5292

[2019-10-22 09:59] #5377 closed

[2019-10-22 10:02] JonasPatto commented on #5377
Sorry, I didn't find any Issues resembling this error. Thanks for quick answer

[2019-10-22 10:03] kalberes commented on #4225
This is a bug, indeed.

[2019-10-22 10:56] JulienDecottignies opened #5378 "[Action Group Visibility] Dynamicaly set visibility doesn't show the action group"
**Describe the bug**
Hi,

Don't know if it's a bug or by design: I want to display a group of actions dynamically using the **visible property of the group** equals to a boolean variable.

All my actions has their default visibility (true). When I switch to true a boolean field on the page, I'm expecting that the action group is displayed but it's not.
To do what I want, I have to set the visibili

[2019-10-22 11:25] #5061 closed

[2019-10-22 12:11] jyotivarade opened #5379 "I have to execute some code after changing city in purchase order. when i edit then trigger is executing but after selecting city from list then not excuting code"
**Describe the bug**
I have added code in OnAfterValidate trigger  but code is executing when i edit, but when value is  selected from dropdown list then this code is not executing.

**To Reproduce**
Steps and to reproduce the behavior:
pageextension 50102 PurchaseOrder extends "Purchase Order"
{
    Editable = true;
    layout
    {
             modify("Buy-from City")
        {
            trigg

[2019-10-22 12:54] bvbeek opened #5380 "Compiler bug found in wave 2"
If you create this page extension (left) you will crash the compiler without any notice.
If I fix this to the right, the compiler give me other expected errors in the solution.

![image](https://user-images.githubusercontent.com/28626283/67287548-9cf7a000-f4db-11e9-8c17-ec10db2af583.png)

As text:

[code]

[2019-10-22 15:11] AndreyKorepanov commented on #5378
Hi @JulienDecottignies, thank you for reporting the issue. It seems to be a bug, we'll take a look on it.
Meanwhile a workaround for this issue is to add Visible = _myBool; to each action in the group, then hiding all the items in the group automatically hides enclosing group.

[2019-10-22 15:37] AndreyKorepanov commented on #5380
Hi @bvbeek thank you for reporting issue, it is a bug and we will take a look on it.

[2019-10-22 15:46] AndreyKorepanov commented on #5379
Hi @jyotivarade, thank you for reporting the issue. Could you please provide more info regarding the versions AL and BC you are running.

[2019-10-23 07:42] jyotivarade commented on #5379
**Business Central**
Version: Platform 14.0.36978.0 + Application 37179 (US Business Central 14.5)
**AL**
Description: AL development tools for Dynamics 365 Business Central
Version: 4.0.182565

[2019-10-23 08:28] Lcisguz opened #5381 "Error compiling because I changed the name of fields"
**Describe the bug**
When I rename a field on a table extesion on VS Code, then I compile and give me an error:

**To Reproduce**
Steps and to reproduce the behavior:
1. Select then name of a field, and press F2,
2. Change the Name for a shorter name and press Intro, so will change the rest of reference with the same name.
3. Save the changes and when I compile give me an error

(*)If I use Replac

[2019-10-23 08:30] calcifieddeveloper commented on #5373
Anyone have any ideas ?

[2019-10-23 10:19] AndreyKorepanov commented on #5379
Hi @jyotivarade, thank you for details. I tried your code and it works fine on my side: the trigger is called both when I enter a city manually or when I select it from the list. There is another field "Post code", changing its value automatically changes the value of the"City" field and OnAfterValidate() is not triggered in this case by design. It might be confusing, please make sure you are chan

[2019-10-23 11:48] navaddict opened #5382 "Bug: Wave 2 - drop connection - message misspelt"
**Describe the bug**
When connection is lost (seems far too often in Wave2.!) the message that is shown is incorrect.

**To Reproduce**
Steps and to reproduce the behavior:

**Expected behavior**
Message should read 'Please wait while the connection is restored, it shouldn't take long.'

**Screenshots**
![image](https://user-images.githubusercontent.com/55881379/67389842-59f90380-f593-11e9-881c-02

[2019-10-23 12:02] ashikivor commented on #5376
The Card Page source table is "PB PA Time Sheet Line"
![image](https://user-images.githubusercontent.com/28855499/67390548-29b66280-f59d-11e9-83f6-7a261d827feb.png)

And you are entering values into the Header.
![image](https://user-images.githubusercontent.com/28855499/67390607-4bafe500-f59d-11e9-8d88-d1357ca0fab5.png)

The header table has value and you are able to see the list on the page. (The

[2019-10-23 12:13] MariaFrederiksen opened #5383 "[Error - 11.33.45] Please report this issue"
**Describe the bug**
My extension is all red.

**To Reproduce**
Tried to update extension AL Language from version 0.12.28462 to newest version

**Expected behavior**
Just an updage

**Screenshots**
![image](https://user-images.githubusercontent.com/43133864/67390984-fde7ac80-f59d-11e9-9295-dd78fd712d6f.png)

**5. Versions:**

 - AL Language: 0.12.28462

 - Business Central: 15.5 - but I don't get

[2019-10-23 13:25] jyotivarade commented on #5379
This issue is still reproducing, please check below video.
https://monosnap.com/file/K0kos6LPzGF8bDazB0tZmGLFAjqk28

[2019-10-23 13:57] jehelles commented on #5307
As far as I can see, there are 2 issues with the listed sample code:
1. You cannot assign a decimal to a biginteger when the decimal contains a fractional value. That will give you an error similar to:
Overflow under conversion of Microsoft.Dynamics.Nav.Runtime.Decimal18 value 999999999999999.99 to System.Int64.
which is expected and correct as the .99 cannot be represented in an integer type.

2.

[2019-10-23 14:09] #5376 closed

[2019-10-23 14:09] stijn9830 commented on #5376
@ashikivor
Stupid indeed, thank you

[2019-10-23 14:24] AndreyKorepanov commented on #5381
Hi @Lcisguz, thank you for reporting the issue. It seems to be a bug, but I could not get repro using the snapshots you've provided, the most interesting part is how you referencing this field in your code. Could you provide the project/code demonstrating the issue, it would help us significantly to get a repro.

[2019-10-23 14:38] AndreyKorepanov commented on #5383
This GitHub repository is dedicated to handling issues and feedback for the latest Developer Preview releases of the AL development tools for Dynamics 365 Business Central.

If you can reproduce the problem on the latest Business Central Developer preview version we will be happy to look further into it. Otherwise please contact the regular support channel.

You can open Support Request to CSS thr

[2019-10-23 14:38] #5383 closed

[2019-10-23 15:14] DigiTecKid commented on #5052
I used C:\temp\algo (making sure to give "Everyone" full permissions to the folder) and it's the same error:
![image](https://user-images.githubusercontent.com/38542883/67407877-25cb1600-f586-11e9-9438-70e4ca35f884.png)

[2019-10-23 15:44] kalberes commented on #5052
Can you please tell us what is teh version of the AL extension you are using?

[2019-10-23 16:21] DigiTecKid commented on #5052
I had an old version of the Microsoft AL Language installed along with the newest:
AL Language 0.12.28462
was installed along with
AL Language 4.0.191880

Once I removed the VSC extension AL Language 0.12.28462 The AL:Go! function created the folders correctly and tried to connect to BC to get symbols.

[2019-10-23 16:50] MariaFrederiksen commented on #5383
No, no, not close.

You just send me a mail, where you wrote “the latest Developer Preview releases of the AL development tools for Dynamics 365 Business Central” And it is the latest version of Visual Studio Code, latest version of d365 and latest version of extension Language AL

Now I have an extension, that have failed, and it is not possible to code in it, to make extension or even put on the

[2019-10-23 17:17] LoanVision commented on #5363
Hello @thpeder
The result you show is what we expect. However in our CLEAN NA version Build 15.0.36510 the result is as per screenshots. Not sure if it's something you fixed on your internal builds?

<img width="763" alt="Screen Shot 2019-10-23 at 1 13 39 PM" src="https://user-images.githubusercontent.com/45673357/67417676-55364e80-f597-11e9-97d0-4a16fa2be331.png">
<img width="754" alt="Screen Sho

[2019-10-23 18:01] qutreson commented on #5381
Hi @Lcisguz thank you for reporting this issue. I am closing it as this is a duplicate of #5292

[2019-10-23 18:01] #5381 closed

[2019-10-24 05:40] jhanvillasin opened #5384 "The target Table "XXXX" for the extension object is not found"
**Describe the bug**
Hi I'm a newbie in extensions. I'm having a trouble when creating extension to Purchase line. every time I pres F5 it gives me an error. please see image below.
![image](https://user-images.githubusercontent.com/56950300/67456427-461cd280-f663-11e9-88bf-bbba86904446.png)

I already Uninstall and Install the AL language. I have the newest version of AL language. Weird part is i

[2019-10-24 06:25] qutreson commented on #5384
Hi @jhanvillasin, it seems that your local symbol cache that is being used by VS Code  (see in your VS Code settings, "al.packageCachePath", or by default ".alpackages" at the root of your extension) is not in sync with the symbols on the server that you are targeting. Please try to clear it and to re-download symbols from your server.

Also, if that does not fix your issue, please state the versi

[2019-10-24 06:29] atoader commented on #5340
Hi! I looked in the compiler code and the logic is as follows. The compiler searches for a .NET type that could be a .NET control add-in. If there is a type with that name, assume that the user intended to use it as a control add-in and verify that it has the IsControlAddIn property. If the type does not have the IsControlAddIn property set, report an error.  If no .NET type with that name can be

[2019-10-24 06:29] #5340 closed

[2019-10-24 06:31] chavansachin20 opened #5385 "Can we use Publish-NAVApp command to publish app to D365 Business central cloud sandbox environment"
Hello Experts,

can we use [Publish-NAVApp](https://docs.microsoft.com/en-us/powershell/module/microsoft.dynamics.nav.apps.management/publish-navapp?view=businesscentral-ps-15) to deploy an app to D365 Business central cloud sandbox environment

I have used the below command but getting an error while using the same.

**Command**
`$LocalServerInstance = "https://businesscentral.dynamics.com/<tenan

[2019-10-24 06:54] jyotivarade opened #5386 "Before posting how to check valid posting setup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps and to reproduce the behavior:
1. Go to '...'

``` AL Code to reproduce the issue ```

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**5. Versions:**

 - AL Language:

 - Business Cent

[2019-10-24 06:57] #5386 closed

[2019-10-24 07:17] jhanvillasin commented on #5384
hello @qutreson  As walk through the settings. the package cache path is set to ./.alpackages.
![image](https://user-images.githubusercontent.com/56950300/67462038-59cf3580-f671-11e9-8e81-394b850295f0.png)

Now, Its showing the red line under Purchase header and Purchase line.

[2019-10-24 07:58] qutreson commented on #5384
Now, you are working against the same reference symbols in VS Code than in your server, which is why you also have the error in VS Code now. It looks like the table does not exist in the reference symbols. Are you using C/SIDE and AL side-by-side? In that case did you follow all the steps as described here? https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-ru

[2019-10-24 07:58] #5384 closed

[2019-10-24 08:10] RobKirsten opened #5387 "Can not remove page actions with designer"
**Describe the bug**
During customization of page actions, I encountered the repeated error, that Business Central can not handle removing the "Statistics" Action in the Customer Card.

**To Reproduce**
Steps and to reproduce the behavior:
1. Go to 'Customer Card'.
2. Start Designing the page.
3. Chose either 'Customer' -> 'Statistics' order 'Navigate' -> 'History' -> 'Statistics'
4. 'Remove' acti

[2019-10-24 08:34] atoader commented on #5385
Hi! No, you cannot use the commandlets to publish an application to BC. You can use the APIs the application exposes to achieve this https://github.com/microsoft/AL/issues/5353 .

To get more help for your questions please use one of the following resources:
[Business Central Community](https://community.dynamics.com/business/f/758)
[mibuso forum](https://forum.mibuso.com/categories/nav-three-tier

[2019-10-24 08:34] #5385 closed

[2019-10-24 08:53] jyotivarade opened #5388 "Need to Receive Po Partially getting error "You cannot post these lines because you have not entered a quantity on one or more of the lines. ""
**Describe the bug**
[code]

**Expected behavior**
 The PO should receive partially multiple time.

**Screenshots**
![image](https://user-images.githubusercontent.com/50901499/67469035-31dbd400-f669-11e9-9a21-ab7338ed7171.png)

**5. Versions:**

 - AL Language:
Description: AL development tools for Dynamics 365 Business Central
Version: 4.0.182565

 - Business Central:
Version: Platform 14.0.36978

[2019-10-24 09:00] atoader commented on #5052
Thank you for verifying! I will close this issue as it appears it has been fixed.

[2019-10-24 09:00] #5052 closed

[2019-10-24 09:07] atoader commented on #5388
Let's get the issue to a team who will fix and backport it, as this repository is only for issues related to the AL compiler in latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a

[2019-10-24 09:07] #5388 closed

[2019-10-24 09:14] atoader commented on #5387
Let's get the issue to a team who will fix and backport it, as this repository is only for issues related to the AL compiler in latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a

[2019-10-24 09:14] #5387 closed, assigned to nobody

[2019-10-24 10:34] jbakach commented on #5078
Hi,

I have this problem too, and I can't change the build because customer is using the database and I have to upload a modification. How can we bypass this? Can someone please point us out?

Thanks.

[2019-10-24 11:37] navaddict opened #5389 "Bug: (Wave 2) Job with Job Tasks, fatal error when attempting to change Customer No."
**Describe the bug**
When a Job has related Job Tasks it is impossible to Enter/Change the Bill-to Customer No.

**To Reproduce**
Create a new Job by just entering 'No.' and 'Description'.
Create a Job Task for this Job
Attempt to enter a 'Bill-to Customer No.' on the Job record

In my example I created some dimensions on the Job and the Customer I chose also had Dimensions (I do not think this wi

[2019-10-24 13:32] AndreyKorepanov commented on #5383
Hi @MariaFrederiksen, currently we do not support the version 0.12.x and can not guarantee a backward compatibility for that version. Basically, you have to bring your code in line with the latest AL specification. Please open a support request as I mentioned in the previous comment.
Here you can find some farther info (please take a look at the section "I found an issue in a version of the produc

[2019-10-24 13:33] kalberes commented on #5286
This is a bug as I see it. Getting runtime packages should work even if published from VsCode.

[2019-10-24 13:38] AndreyKorepanov commented on #4546
Hi @JulienDecottignies, we I've tried your code on 14.x/15.x/latest BC versions and could not repro the issue. Are you still experiencing the problem? Could you try it on the latest BC version?

[2019-10-24 15:06] JulienDecottignies commented on #4546
Hi,

No i'm not. I close the issue. Thanks

[2019-10-24 15:06] #4546 closed

[2019-10-24 15:13] AndreyKorepanov commented on #5389
Let's get the issue to a team who will fix and backport it, as this repository is only for issues related to the AL compiler in latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a

[2019-10-24 15:13] #5389 closed

[2019-10-24 15:51] MariaFrederiksen commented on #5383
HI

Thanks for answering  me.

I know that you don’t support 0.12x, but I just tried to get the old Language AL back, which have worked on my Visual Studio Code (Version 1.39.2).

I do have the newest version of Visual Studio Code, but it is not possible to get Language AL running on it. I get the message, that I send to you in the first place.

I don’t use NAV 2018, I only code Extensions for Bus

[2019-10-24 16:41] MariaFrederiksen commented on #5383
Hi

Now I got the point. I started all over to install Visual Studio Code, and I see what you mean now.

Sorry for all the trouble and have a nice day.

Regards

Maria

Fra: AndreyKorepanov <notifications@github.com>
Sendt: 24. oktober 2019 15:33
Til: microsoft/AL <AL@noreply.github.com>
Cc: MariaFrederiksen <maria@svaneit.dk>; Mention <mention@noreply.github.com>
Emne: Re: [microsoft/AL] [Error -

[2019-10-25 06:39] GeekEding opened #5390 "Wave 02 - Bug in Fixed Controls"
**Describe the bug**
I found a feature or bug in the fixed controls on pages in BC15.
We have some pages with this feature. It worked fine for the last versions. But now the Captions is displayed, even though it should be hidden.

**To Reproduce**
Steps and to reproduce the behavior:
I searched for your pages in the webclient (Page 39 or 253 or 254 for example). The caption is shown there too.
Thi

[2019-10-25 08:02] fmoric opened #5391 "Wave 2 - Base app translation web search index"
**Describe the bug**
Translating base app in wave 2 with XLIFF file does not update search index.
The app is showing translation, but web search index is still in english.
I don't if i missed a step.

**To Reproduce**
1. Translate base app whit XLIFF

**Expected behavior**
Update web search index

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-im

[2019-10-25 08:33] atoader commented on #5391
Hi! Thank you for reporting this issue! It will be fixed in CU1.

[2019-10-25 08:33] #5391 closed

[2019-10-25 08:40] AndreasGloeckner opened #5392 "NullException by git checkout with a multiproject workspace"
**Describe the bug**
Get an error when using "git checkout" on a multiproject workspace right after opening VSCode.

[code]

**To Reproduce**
1. Open a .workspace-file from VSCode with more than one AL-Project.
2. Checkout a different branch than your current one with "git checkout [branchname]". I even can reproduce the bug by using the "Checkout To"-Action from my source control.
3. Exception is

[2019-10-25 11:34] TimothyWatkins opened #5393 "AL problem (AA0210) GenJournalBatch"
Following filter gives an AL compiling notification (AA0210) with runtime 4.0 V15.

`GenJournalBatch.SetRange("Bal. Account Type", GenJournalBatch."Bal. Account Type"::"Bank Account");
`

I think I can assume this is a base code issue? If not would appreciate a way of resolving. :)

[2019-10-25 12:03] AndreyKorepanov commented on #5390
Hi @GeekEding, thank you for reporting the issue. We've already fixed this bug on our side by putting ShowCaption = false on this field. Please try the latest BC build, it should be fixed there.

[2019-10-25 12:03] #5390 closed

[2019-10-25 14:41] AndreyKorepanov commented on #5373
Hi! We could not reproduce. The following code produces the expected result.

[code]
![image](https://user-images.githubusercontent.com/43748195/67580225-4510a180-f746-11e9-994b-9a2ea478d98e.png)

[2019-10-25 16:45] charlespockert opened #5394 "Enhancement to intellisense on method overloads"
Could we get a number of overloads in the dev tools?

With C# we get that, but I often forget that AL allows overloading because C/AL didn't and sometimes miss things...

![image](https://user-images.githubusercontent.com/9073518/67588809-ee5b9580-f74e-11e9-92d0-9bcac54f86fd.png)

In AL we just get:

![image](https://user-images.githubusercontent.com/9073518/67588863-0d5a2780-f74f-11e9-82a6-ae077e

[2019-10-25 17:00] atoader commented on #5393
Hi Timothy,

You can find more information here:
https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-using-code-analysis-tool
https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/analyzers/codecop

As far as the rule is concerned, the error reported is correct. You can ignore it by using a ruleset if you do not find it useful.

[2019-10-25 17:00] atoader commented on #5393
Is there more information we can provide?

[2019-10-25 17:02] atoader commented on #5392
Hi! What is different between the two branches?

[2019-10-25 17:03] atoader commented on #5363
Hi @LoanVision ! After investigating, we have concluded that this is not a problem with the development tools.
Let's get the issue to a team who will fix and backport it. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a support request to CSS throu

[2019-10-25 17:03] #5363 closed

[2019-10-25 17:05] atoader commented on #5199
This issue has been closed because it needs more information and has not had recent activity. Please open a new issue if you believe this has not been resolved and reference the current issue.

[2019-10-25 17:05] #5199 closed

[2019-10-25 17:08] AndreasGloeckner commented on #5392
The only difference I can see so far is that the branch I want to check out is not available on remote. Not sure what happens if the remote branch still exists. Need to check it on Monday.

[2019-10-26 06:36] navlarste commented on #4988
I've tested it.
In the latest version I get no runtime error.
So it looks good.

[2019-10-28 07:19] navdotnetreqs commented on #4886
This is still relevant, I hope you fix this! How do we get rid of the standalone-element in the declaration?

[2019-10-28 09:29] selvajo1990 commented on #5356
any

[2019-10-28 09:37] AndreyKorepanov commented on #5392
Hi @AndreasGloeckner thank you for reporting the issue. I tried to reproduce it using your steps with no success. We recently worked on something similar, could try to reproduce it with the latest AL Extension from market place. If it is still there, could you please attach a workspace demonstrating the issue. Thanks.

[2019-10-28 10:06] selvajo1990 opened #5395 "Excel Buffer Import - DT2Date"
**Describe the bug**
Excel buffer import changes the existing value of date & time field. It reduces 1 day from the date & 4hour 30 minutes from the time irrespective of any date & time value.

**To Reproduce**
Import the data from excel with date & time column

[code]

**Expected behavior**
Excel data should be imported without any changes.

**Screenshots**

**Actual Data Imported**
![image](http

[2019-10-28 10:20] atoader commented on #5395
Let's get the issue to a team who will fix and backport it, as this repository is only for issues related to the AL compiler in latest developer preview environment for Dynamics 365 Business Central. We suggest that you open a support case or file a bug in Collaborate, to ensure that all Business Central users benefit from your catch as soon as possible.

To open a support case, you can:

- Open a

[2019-10-28 10:20] #5395 closed

[2019-10-28 11:20] bjarkihall opened #5396 "If-Else statements auto-indent with each else statement"
**Describe the bug**
The AL Formatter formats if-else statements by increasing the indentation for each case.
This results in e.g. nested statements to confuse those who encounter them after the formatting has taken place.

**To Reproduce**
First start by examining 1-level deep if-else:
[code]
becomes
[code]
Where people don't seem to agree on which on is the best practice (according to the discus

[2019-10-28 11:24] bjarkihall commented on #5396
https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-al-control-statements
This link is for reference about how the AL documentation describes if-else statements (but it doesn't go into nesting both if and else) if it's to any help.

https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-al-formatter
This link is for reference a

[2019-10-28 11:30] bjarkihall commented on #5396
Duplicate of #4449
With emphasis on what happens with nesting, though, and more examples.
If anyone knows how to disable the formatter temporarily (without disabling the AL extension, since that requires a restart of vscode) until this is fixed, it would be nice to know since my editor.formatOnSave setting isn't respected.

[2019-10-28 12:05] pborring commented on #4569
This is fixed in v15 (2019 Wave 2) CU1 - translation and AdditionalSearchTerms works for pageextensions.

Note that XLIFF translations take precedence if present (as applied after metadata flattening of extension contributions), so if doing a pageextension of a base object like Vendor, you need to provide the caption in XLIFF and not as a Caption property in the pageextension object. Also, if mult

[2019-10-28 12:14] pborring commented on #4907
AdditionalSearchTerms support fixed for PageExtensions in 2019 Wave 2 (version 15) CU1.

[2019-10-28 12:14] #4907 closed

[2019-10-28 12:16] pborring commented on #4954
This is fixed in 2019 Wave 2 (v15 ) CU1 - translation and AdditionalSearchTerms works for pageextensions.

Note that XLIFF translations take precedence if present (as applied after metadata flattening of extension contributions), so if doing a pageextension of a base object like Vendor, you need to provide the caption in XLIFF and not as a Caption property in the pageextension object. Also, if mul

[2019-10-28 12:16] #4954 closed

[2019-10-28 13:22] JulienDecottignies opened #5397 "[InternalEvent] CS0117 'NavEventType' does not contain a definition for Internal"
**Describe the bug**
Hi,

Susbscribing to an InternalEvent give this error when publishing:
`error CS0117: 'NavEventType' does not contain a definition for 'Internal' `

If I only publish my InternalEvent it's ok. But if i'm subscribing to it (from the same module) the error occurs.

Documentation doesn't specify to do anything else:
https://docs.microsoft.com/en-us/dynamics365/business-central/de

[2019-10-28 13:51] atoader commented on #5397
Thank you for reporting this issue! It has been fixed in builds newer than 37404 and it is now available through Collaborate. It will be available in CU1 of the OnPrem release.

[2019-10-28 14:11] JulienDecottignies commented on #5397
Ok thanks for the quick answer!

[2019-10-28 14:13] AndreyKorepanov commented on #5380
Hi @bvbeek, I investigated the issue it is by design. You can not use the PingPong addin with the Web Client, as it is developed for RTC only and not intended to be used in Web Client.
In 2019 Wave 2 there is a new AL feature “Page Background Task” that should be used instead of the Ping-Pong addin. For details see https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/d

[2019-10-28 14:18] AndreasGloeckner commented on #5392
Hi @AndreyKorepanov. I installed the latest verison from the marketplace (4.0.19.1880) and deactivated the old version. Nevertheless, I still get the exception.
No files were opened in the same or another instance of VSCode.

Tested following scenarios:
1. Open one folder, checkout another branch => no error
2. Open one folder, add another project, checkout another branch => no error
3. Open one f

[2019-10-28 14:25] jcooper01 commented on #4800
We are being impacted by this as well. We don't need cookie handling, per se. We just need to be able to set the "Cookie" HTTP header. @thpeder could you please re-open this issue? Again, we just need the HttpClient to not discard the Cookie header. We can handle the cookies ourselves. Some web services require a Cookie header value and we are not able to send it.

[2019-10-28 14:28] ccorreia83 opened #5398 "Global Variable on Page Extension is inaccessible due to its protection level"
**Describe the bug**
I'm making a simple page extension, and when I try to access to a global variable of original page, there's no access.

**To Reproduce**
1. Create page extension of "Document Attachment Details", if using FromRecRef to any new function it gets: 'FromRecRef' is inaccessible due to its protection level

``` AL Code to reproduce the issue ```

**Expected behavior**
I would expect

[2019-10-28 14:29] ccorreia83 commented on #5398
I saw a closed issue similar to this telling this kind of problem should be solved in Wave 2.

[2019-10-28 14:31] 48010 opened #5399 "Business Central Sandbox Publish problem"
When I publish an extension from Visual Studio Code to Sandbox enviroment I get no error but the extensions does not publish

Debugger Console does not shoot any error:
![image](https://user-images.githubusercontent.com/44604388/67687206-41745900-f998-11e9-9b0b-d32b4f85d92b.png)

VS Version: 1.39.2
AL Language: 4.0
Business Central: 14.0

[2019-10-28 15:53] hindsight2020 opened #5400 "CurrFieldNo in OnAfterInsert not set when set from TestPage"
Hello,

**Describe the bug**
When i set the Sell-To Customer Name on a SalesInvoice Testpage the OnAfterInsert Trigger in the Tableextension is triggered. However the CurrFieldNo is not set. If i do a manual test where i open a new Sales Invoice, the CurrFieldNo is set when filling the "Sell-to Customer Name".

**To Reproduce**
Steps and to reproduce the behavior:
1. Create the extension  (code be

[2019-10-28 18:05] HerrRiebmann opened #5401 "Media not visible on Lists (No proper Blob replacement)"
**Describe the bug**
Using a Media-field on a page, will be ignored on a list/repeater.
Due to blob with subtype Bitmap is depreciated, it should be expected to have the same functionality with Media.

AL(AW0009)

*Background:*
We have a color which can be selected from a list.
Using a TableRelation won´t show the picture/color on the LookUp either, until you go "Advanced" and open the complete li

[2019-10-29 01:43] TheDenSter commented on #4569
Thanks Peter, I'll check it out

[2019-10-29 08:24] calcifieddeveloper commented on #5373
Hi,
Please find attached a project that can replicate the issue
[ALProject1.zip](https://github.com/microsoft/AL/files/3782363/ALProject1.zip)

[2019-10-29 09:57] zeeahmed-16 opened #5402 "Business Central: Error 'The type or method 'Open' cannot be used for 'Extension' development'"
I am trying to create a report to read csv file data and import it into a Business Central table.
When I a method 'Open' which is a method of 'File Management' codeunit, I am getting this error:

_The type or method 'Open' cannot be used for 'Extension' development_

Can anybody help me find out the code to import data into a table from a file using AL code.

[2019-10-29 10:53] kalberes commented on #5398
Yes this feature should work. If you declare globals in global var section of an AL file
protected var
myInteger : Integer
Then you should be able to access it in a page extension.